dialog-calendar-event-edit .mrc-dialog-separator {
  margin: 8px 0 !important;
  width: 100% !important;
}

dialog-calendar-event-edit #mrc-edit-page-footer .mrc-edit-page-error {
  color: #ef1508;
  font-size: 9pt;
  margin: 0 0 4px 8px;
}

dialog-calendar-event-edit #mrc-edit-page-footer-buttons {
  display: flex;
  justify-content: flex-end;  
}

dialog-calendar-event-edit #mrc-edit-page-footer-buttons > button {
  margin-left: 8px;
  width: 85px;
}