mrc-trend {
  .chartist-tooltip {
    color: #fff;
    background-color: #453D3F;
    font-size: 9pt;
    font-weight: normal;
  }

  .chartist-tooltip.tooltip-show {
    opacity: 0.8;
  }

  .chartist-tooltip:before {
    border-top-color: #453D3F;
  }
}