dialog-historical-value-edit #mrc-dialog-historical-value-container {
  margin: 8px 0 0 22px;
}

dialog-historical-value-edit #mrc-dialog-historical-value-container .mat-form-field {
  margin-right: 8px;
}

dialog-historical-value-edit #mrc-dialog-historical-value-container .mrc-dialog-historical-value-unit {
  display: inline;
  margin-left: 8px;
}

dialog-historical-value-edit #mrc-dialog-commands .mat-button {
  float: right;
  margin-left: 8px;
}
