<div class="mrc-dialog-title">Adicionar refeição</div>
<!-- <ng-template #editModeTitle>
  <div class="mrc-dialog-title">Editar usuário</div>
</ng-template> -->
<div class="mrc-dialog-separator"></div>
<div>
  <div class="dialog-add-meal-details">
    <div class="dialog-add-meal-details-desciption">
      <mat-form-field floatLabel="always">
        <mat-label>Refeição</mat-label>
        <mat-select [(ngModel)]="selecteMealId" [formControl]="mealSelectCtrl">
          <mat-option *ngFor="let meal of mealGroups" [value]="meal.id">{{ meal.description }}</mat-option>
          <mat-option value="0">Outra</mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="selecteMealId == '0'">
        <input style="margin-left: 8px" placeholder="Nome da refeição">         
      </ng-container>
    </div>
    <div class="dialog-add-meal-details-time">
      <label>Horário da refeição</label>
      <input aria-label="24hr format" [ngxTimepicker]="fullTime" [value]="mealTime" [format]="24" readonly style="background-color: #fff;"> 
      <ngx-material-timepicker #fullTime></ngx-material-timepicker>
    </div>
  </div>
  <div *ngIf="useFoodDb" class="dialog-add-meal-source">
    <label>Banco de dados de alimentos</label>
    <mat-radio-group [(ngModel)]="selectedFoodSource">
      <mat-radio-button [value]="foodSourceEnum.All">Todos</mat-radio-button>
      <mat-radio-button [value]="foodSourceEnum.Taco">TACO</mat-radio-button>
      <mat-radio-button [value]="foodSourceEnum.MyFoods">Meus alimentos</mat-radio-button>
      <mat-radio-button [value]="foodSourceEnum.MySupplements">Meus suplementos</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-form-field floatLabel="always" class="dialog-add-meal-food-select"> 
    <mat-label>Pesquisar alimento</mat-label>
    <mat-select [formControl]="foodCtrl" placeholder="Digite no mínimo 3 caracteres" (selectionChange)="on_selection_change($event)" #select>
      <mat-option>
        <ngx-mat-select-search [formControl]="foodFilterCtrl" placeholderLabel="Digite no mínimo 3 caracteres">
          <mat-icon ngxMatSelectSearchClear>X</mat-icon>
        </ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let food of filteredFoods | async" [value]="food">
        {{food.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="dialog-add-meal-data-container">
    <div class="dialog-add-meal-data-container-table" *ngIf="dataSource && dataSource.data.length > 0; else noFoodsAddedBlock">
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;">
            <mat-form-field>
              <input matInput type="number" [formControl]="quantityFormControls[i]" [(ngModel)]="element.quantity" (ngModelChange)="on_quantity_change()">
            </mat-form-field>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="measurements">
          <mat-header-cell *matHeaderCellDef>Medida</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-select [(ngModel)]="element.selectedMeasurement">
              <mat-option *ngFor="let option of element.measurements" [value]="option.id">{{ option.description }}</mat-option>
            </mat-select>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="protein">
          <mat-header-cell *matHeaderCellDef>Proteínas</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ getFoodDetail(element, 'protein', 'qty', 'g') }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="carbs">
          <mat-header-cell *matHeaderCellDef>Carboidratos</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ getFoodDetail(element, 'carbohydrate', 'qty', 'g') }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lipids">
          <mat-header-cell *matHeaderCellDef>Lipídios</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ getFoodDetail(element, 'lipid', 'qty', 'g') }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="energy">
          <mat-header-cell *matHeaderCellDef>Energia</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ getFoodDetail(element, 'energy', 'kcal', 'kcal') }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="commands">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;"> 
            <span>
              <span title="Remover" class="icon-delete" (click)="on_remove_food_click($event, element, i)"></span> 
            </span>  
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableDisplayedColumns;"></mat-row>
      </mat-table>
      <mat-table [dataSource]="totalizerSource">
        <ng-container matColumnDef="description">
          <mat-cell *matCellDef="let element"></mat-cell>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <mat-cell *matCellDef="let element"></mat-cell>
        </ng-container>
        <ng-container matColumnDef="measurements">
          <mat-cell *matCellDef="let element"></mat-cell>
        </ng-container>
        <ng-container matColumnDef="protein">
          <mat-cell *matCellDef="let element">{{ element.protein }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="carbs">
          <mat-cell *matCellDef="let element">{{ element.carbohydrate }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lipids">
          <mat-cell *matCellDef="let element">{{ element.lipid }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="energy">
          <mat-cell *matCellDef="let element">{{ element.energy }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="commands">
          <mat-cell *matCellDef="let element;"></mat-cell>
        </ng-container>

        <mat-row *matRowDef="let row; columns: tableDisplayedColumns;"></mat-row>
      </mat-table>
    </div>
    <ng-template #noFoodsAddedBlock>
      <div class="dialog-add-meal-data-container-empty">Nenhum alimento adicionado.</div>
    </ng-template>
  </div>
  <mat-form-field floatLabel="always" style="height: 60px; width: 100%;">
    <mat-label>Observações</mat-label>
    <textarea matInput [formControl]="descriptionFormControl" style="height: 35px; max-height: 35px;"></textarea>
  </mat-form-field>
</div>
<div id="mrc-edit-page-footer">
  <div class="mrc-dialog-separator"></div>
  <!-- <div *ngFor="let msg of errorList" class="mrc-edit-page-error">{{ msg }}</div>  -->
  <div id="mrc-edit-page-footer-buttons">
    <button mat-button>Salvar</button> <!-- TODO: [disabled]="!dirty && !isNew" (click)="on_save_clicked()" -->
    <button mat-button (click)="on_cancel_click()">Cancelar</button>
  </div>
</div>