dialog-add-meal .dialog-add-meal-details {
  display: flex;
  margin-bottom: 8px;
}

dialog-add-meal .dialog-add-meal-details-desciption {
  width: 210px;
}

dialog-add-meal .dialog-add-meal-details-desciption .mat-form-field {
  height: 55px;
  margin-left: 8px;
}

dialog-add-meal .dialog-add-meal-details-time {
  display: flex;
  flex-direction: column;
}

dialog-add-meal .dialog-add-meal-details-time > label {
  margin-bottom: 8px;
}

dialog-add-meal .dialog-add-meal-source {
  display: flex;
  flex-direction: column;
  margin: 0 0 8px 8px;
}

dialog-add-meal .dialog-add-meal-source > label {
  margin-bottom: 8px;
}

dialog-add-meal .dialog-add-meal-food-source {
  margin-left: 8px;
}

dialog-add-meal .dialog-add-meal-data-container {
  height: 300px;
  overflow: auto;
}

dialog-add-meal .dialog-add-meal-data-container-table {
  margin-left: 8px;
}

dialog-add-meal .mat-table .icon-delete, dialog-add-meal .mat-table .icon-edit {
  color: #4f4f4f;
  cursor: pointer;
  font-size: 12pt;
}

dialog-add-meal #mrc-edit-page-footer .mrc-edit-page-error {
  color: #ef1508;
  font-size: 9pt;
  margin: 0 0 4px 22px;
}

dialog-add-meal #mrc-edit-page-footer-buttons {
  margin: 8px 0 8px 22px;
}

dialog-add-meal #mrc-edit-page-footer-buttons > button {
  margin: 0 8px 0 0;
  width: 85px;
}
