dialog-add-meal .dialog-add-meal-details {
  display: flex;
  flex-direction: column;
  margin: 0 0 8px 8px;
}

dialog-add-meal .dialog-add-meal-details-description {
  display: flex;
  height: 68px;
}

dialog-add-meal .dialog-add-meal-details-description .mat-form-field {
  height: 55px;
}

dialog-add-meal .dialog-add-meal-details-time {
  display: flex;
  flex-direction: column;
  max-width: 130px;
}

dialog-add-meal .dialog-add-meal-details-time > label {
  margin-bottom: 8px;
}

dialog-add-meal .dialog-add-meal-source {
  display: flex;
  flex-direction: column;
  margin: 16px 0 8px 8px;
}

dialog-add-meal .dialog-add-meal-source > label {
  margin-bottom: 4px;
}

dialog-add-meal .dialog-add-meal-food-select {
  margin: 8px 0 0 8px;
}

dialog-add-meal .dialog-add-meal-data-container .legend-labels {
  width: 130px;
  background: #fff;
}

dialog-add-meal .dialog-add-meal-data-container .ngx-charts {
  height: 150px;
}

dialog-add-meal .dialog-add-meal-data-container-table {
  height: calc(100% - 8px);
  margin-left: 8px;
  overflow: auto;
}

dialog-add-meal .dialog-add-meal-data-container-chart {
  display: flex;
  justify-content: center;
}

dialog-add-meal .dialog-add-meal-data-container-empty {
  align-items: center;
  display: flex;
  font-size: 8pt;
  height: 100%;
  justify-content: center;
}

dialog-add-meal .dialog-add-meal-free-text {
  margin-left: 8px;
}

dialog-add-meal .dialog-add-meal-free-text > .mat-form-field {
  width: calc(100% - 8px);
}

dialog-add-meal .dialog-add-meal-meal-select-field {
  margin-right: 8px;
}

dialog-add-meal .dialog-add-meal-meal-select-field .mat-form-field-infix {
  padding: 0.475em 0;
}

dialog-add-meal .dialog-add-meal-notes-field {
  height: 60px;
  margin-left: 8px;
  width: calc(100% - 16px);
}

dialog-add-meal .dialog-add-meal-notes-field textarea {
  height: 35px;
  max-height: 35px;
}

dialog-add-meal .mrc-dialog-separator {
  margin: 8px 0;
  width: 100%;
}

dialog-add-meal .mat-table .mat-cell {
  white-space: nowrap;
}

dialog-add-meal .mat-table .mat-cell .cell-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

dialog-add-meal .mat-table .mat-column-description {
  cursor: default;
  flex: none;
  width: 228px;
}

dialog-add-meal .mat-table .mat-column-commands {
  flex: none;
  width: 0;
  margin-left: 8px;
}

dialog-add-meal .mat-table .mat-column-measurements {
  flex: none;
  width: 90px;
  justify-content: center;
}

dialog-add-meal .mat-table .mat-column-quantity {
  flex: none;
  width: 80px;
  justify-content: center;
}

dialog-add-meal .mat-table .mat-column-protein {
  cursor: default;
  flex: none;
  width: 75px;
  justify-content: center;
}

dialog-add-meal .mat-table .mat-column-carbs {
  cursor: default;
  flex: none;
  width: 79px;
  justify-content: center;
}

dialog-add-meal .mat-table .mat-column-lipids {
  cursor: default;
  flex: none;
  width: 74px;
  justify-content: center;
}

dialog-add-meal .mat-table .mat-column-energy {
  cursor: default;
  flex: none;
  width: 77px;
  justify-content: center;
}

dialog-add-meal .mat-table .icon-delete, dialog-add-meal .mat-table .icon-edit {
  color: #4f4f4f;
  cursor: pointer;
  font-size: 12pt;
}

dialog-add-meal .mat-table .mat-form-field {
  width: 80px;
  height: 24px;
  padding: 2px 0;
}

dialog-add-meal .mat-table .mat-form-field-wrapper {
  height: 24px;
  line-height: 24px;
}

dialog-add-meal .mat-table .mat-form-field-infix {
  padding: 0;
  margin-top: -10px;
}

dialog-add-meal #mrc-edit-page-footer .mrc-edit-page-error {
  color: #ef1508;
  font-size: 9pt;
  margin: 0 0 4px 22px;
}

dialog-add-meal #mrc-edit-page-footer-buttons {
  margin: 8px 0 0 8px;
}

dialog-add-meal #mrc-edit-page-footer-buttons > button {
  margin: 0 8px 0 0;
  width: 85px;
}
