dialog-add-meal {

  .dialog-add-meal-details {
    display: flex; 
    margin-bottom: 8px;

    &-desciption {
      width: 210px;

      .mat-form-field {
        height: 55px;
        margin-left: 8px; 
      }
    }

    &-time {
      display: flex; 
      flex-direction: column;

      > label {
        margin-bottom: 8px;
      }
    }
  }

  .dialog-add-meal-source {
    display: flex; 
    flex-direction: column;
    margin: 0 0 8px 8px; 
     
    > label {
      margin-bottom: 4px;
    }
  }

  .dialog-add-meal-food-select {
    margin: 8px 0 0 8px;
  }

  .dialog-add-meal-data-container {
    overflow: auto;

    .legend-labels {
      width: 130px;
      background: #fff;
    }

    .ngx-charts {
      height: 150px;
    }

    &-table {
      margin-left: 8px;
      height: 150px;
      overflow: auto;
    }

    &-chart {
      display: flex;
      justify-content: center;
    }

    &-empty {
      font-size: 8pt;
      margin: 8px 0 0 16px;
      max-width: 350px;
      padding: 16px;
      text-align: center;
    }
  }

  .mat-table {
    .mat-column-commands {
      flex: none;
      width: 16px;
    }

    .mat-column-measurements {
      margin: 0 4px;
      flex: none;
      width: 100px;
    }

    .mat-column-quantity {
      flex: none;
      width: 60px;
    }

    .icon-delete, .icon-edit {
      color: #4f4f4f;		
      cursor: pointer;
      font-size: 12pt;
    }
  }
  
  #mrc-edit-page-footer {

    .mrc-edit-page-error {
      color: #ef1508;
      font-size: 9pt;
      margin: 0 0 4px 22px;
    }

    &-buttons {
      margin: 8px 0 8px 22px;
      
      > button {
        margin: 0 8px 0 0;
        width: 85px;
      }
    }
  }
}