dialog-add-meal .dialog-add-meal-details {
  display: flex;
  margin-bottom: 8px;
}

dialog-add-meal .dialog-add-meal-details-desciption {
  width: 210px;
}

dialog-add-meal .dialog-add-meal-details-desciption .mat-form-field {
  height: 55px;
  margin-left: 8px;
}

dialog-add-meal .dialog-add-meal-details-time {
  display: flex;
  flex-direction: column;
}

dialog-add-meal .dialog-add-meal-details-time > label {
  margin-bottom: 8px;
}

dialog-add-meal .dialog-add-meal-source {
  display: flex;
  flex-direction: column;
  margin: 0 0 8px 8px;
}

dialog-add-meal .dialog-add-meal-source > label {
  margin-bottom: 4px;
}

dialog-add-meal .dialog-add-meal-food-select {
  margin: 8px 0 0 8px;
}

dialog-add-meal .dialog-add-meal-data-container {
  overflow: auto;
  height: 248px;
}

dialog-add-meal .dialog-add-meal-data-container .legend-labels {
  width: 130px;
  background: #fff;
}

dialog-add-meal .dialog-add-meal-data-container .ngx-charts {
  height: 150px;
}

dialog-add-meal .dialog-add-meal-data-container-table {
  margin-left: 8px;
  overflow: auto;
}

dialog-add-meal .dialog-add-meal-data-container-chart {
  display: flex;
  justify-content: center;
}

dialog-add-meal .dialog-add-meal-data-container-empty {
  align-items: center;
  display: flex;
  font-size: 8pt;
  height: 248px;
  justify-content: center;
}

dialog-add-meal .mat-table .mat-column-commands {
  flex: none;
  width: 16px;
  margin-left: 8px;
}

dialog-add-meal .mat-table .mat-column-measurements {
  flex: none;
  width: 90px;
  justify-content: center;
}

dialog-add-meal .mat-table .mat-column-quantity {
  flex: none;
  width: 80px;
  justify-content: center;
}

dialog-add-meal .mat-table .mat-column-protein {
  flex: none;
  width: 80px;
  justify-content: center;
}

dialog-add-meal .mat-table .mat-column-carbs {
  flex: none;
  width: 82px;
  justify-content: center;
}

dialog-add-meal .mat-table .mat-column-lipids {
  flex: none;
  width: 80px;
  justify-content: center;
}

dialog-add-meal .mat-table .mat-column-energy {
  flex: none;
  width: 80px;
  justify-content: center;
}

dialog-add-meal .mat-table .icon-delete, dialog-add-meal .mat-table .icon-edit {
  color: #4f4f4f;
  cursor: pointer;
  font-size: 12pt;
}

dialog-add-meal .mat-table .mat-form-field {
  width: 80px;
  height: 24px;
  padding: 2px 0;
}

dialog-add-meal .mat-table .mat-form-field-wrapper {
  height: 24px;
  line-height: 24px;
}

dialog-add-meal .mat-table .mat-form-field-infix {
  padding: 0;
  margin-top: -10px;
}

dialog-add-meal #mrc-edit-page-footer .mrc-edit-page-error {
  color: #ef1508;
  font-size: 9pt;
  margin: 0 0 4px 22px;
}

dialog-add-meal #mrc-edit-page-footer-buttons {
  margin: 8px 0 8px 22px;
}

dialog-add-meal #mrc-edit-page-footer-buttons > button {
  margin: 0 8px 0 0;
  width: 85px;
}
