dialog-add-meal {

  .mat-table {
    .icon-delete, .icon-edit {
      color: #4f4f4f;		
      cursor: pointer;
      font-size: 12pt;
    }
  }
  
  #mrc-edit-page-footer {

    .mrc-edit-page-error {
      color: #ef1508;
      font-size: 9pt;
      margin: 0 0 4px 22px;
    }

    &-buttons {
      margin: 8px 0 8px 22px;
      
      > button {
        margin: 0 8px 0 0;
        width: 85px;
      }
    }
  }
}