page-products {
  margin: 16px;
  display: block;
}

page-products .page-products-title {
  font-size: 12pt;
}

page-products .page-products-item {
  margin: 8px;
  flex-direction: row;
  display: flex;
}

page-products .page-products-item .mrc-text-1 {
  padding: 3px;
  width: 200px;
}

page-products .page-products-item > input {
  width: 250px;
}

page-products .mat-tab-label {
  height: 30px;
  margin-top: 8px;
  min-width: 80px;
}
