<div class="page-products-title">Novo Produto | </div>
<mat-tab-group>
  <mat-tab label="Geral">
  	<div class="page-products-item">
  		<div class="mrc-text-1">Código do produto:</div>
			<input /> 
		</div>
		<div class="page-products-item">
  		<div class="mrc-text-1">Descrição:</div>
			<input /> 
		</div>
		<div class="page-products-item">
  		<div class="mrc-text-1">Descrição na Nota Fiscal:</div>
			<input /> 
		</div>
  </mat-tab>
  <mat-tab label="Fiscal">Content 2</mat-tab>
	<mat-tab label="Estoque">Content 3</mat-tab>
</mat-tab-group>