page-patient-edit {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
}

page-patient-edit #mrc-edit-page-content {
  flex: 1;
  overflow: auto;
  margin-top: 8px;
}

page-patient-edit #mrc-edit-page-content .mrc-edit-page-item {
  display: flex;
  flex-direction: column;
  font-size: 9pt;
  margin: 8px 0 0px 32px;
  max-width: 350px;
  width: calc(100% - 70px);
}

page-patient-edit #mrc-edit-page-content .mrc-edit-page-column {
  font-size: 9pt;
  display: flex;
  margin: 8px 0 0 32px;
  max-width: 350px;
  width: calc(100% - 70px);
}

page-patient-edit #mrc-edit-page-content .mrc-edit-page-column-item {
  display: flex;
  flex-direction: column;
}

page-patient-edit #dp-container {
  width: 210px;
}

page-patient-edit #dp-container .icon-calendar-picker {
  float: right;
  position: relative;
}

page-patient-edit #mrc-edit-page-footer .mrc-edit-page-error {
  color: #ef1508;
  font-size: 9pt;
  margin: 0 0 4px 22px;
}

page-patient-edit #mrc-edit-page-footer-buttons {
  margin: 8px 0 8px 22px;
}

page-patient-edit #mrc-edit-page-footer-buttons > button {
  margin: 0 8px 0 0;
  width: 85px;
}
