<div>
  <div class="mrc-page-title">{{ isNew ? 'Novo paciente' : patient?.name }}</div>
  <div class="mrc-page-subtitle" *ngIf="isNew; else elseBlock">Dados do paciente</div>
  <ng-template #elseBlock>
    <div class="mrc-page-subtitle">Alterar dados do paciente</div>
  </ng-template>
</div>
<div id="mrc-edit-page-content">
  <progress-spinner [progress]="loading">
    <div class="mrc-edit-page-item">
      <label>Nome</label>
      <input mrc-input-required="Nome" type="text" [ngModel]="patient?.name" (ngModelChange)="patient.name = nameBox.value; markAsDirty()" #nameBox />
    </div>
  </progress-spinner>
</div>
<div id="mrc-edit-page-footer">
  <div class="mrc-dialog-separator"></div>
  <div *ngFor="let msg of errorList" class="mrc-edit-page-error">{{ msg }}</div>
  <div id="mrc-edit-page-footer-buttons">
    <button mat-button [disabled]="!dirty" (click)="on_apply_clicked()">Aplicar</button>
    <button mat-button (click)="on_cancel_clicked()">Cancelar</button>
  </div>
</div>