user-configurations {

  .mat-tab-group {
    margin: 16px 22px;
  }

  .user-configurations-add-button {
    margin: 8px 0 0 8px;
  }

  .user-configurations-table {
    margin-left: 8px;
    max-width: 800px;

    .mat-column-commands {
      flex: none;
    }

    .mat-row:hover {
      background-color: #efefef;
      cursor: pointer;
    }

    .icon-delete {
      color: #4f4f4f;
      cursor: pointer;
      font-size: 12pt;
    }
  }
}