<div class="mrc-page-title">Minhas configurações</div>
<progress-spinner [progress]="loading">
  <mat-tab-group [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Meus alimentos">

    </mat-tab>

    <mat-tab label="Meus suplementos">
    
    </mat-tab>

    <mat-tab label="Meus serviços">
      <button mat-button class="user-configurations-add-button" (click)="on_service_edit()">Adicionar serviço</button>
      <mat-table [dataSource]="services" class="user-configurations-table">
      
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.price }}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="commands">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="canRemove(element.id)">
              <span title="Remover" class="icon-delete" (click)="on_remove_service_click($event, element)"></span>
            </span>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="servicesDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: servicesDisplayedColumns;"></mat-row> <!-- (click)="on_anamneses_edit(row.id)" -->
      </mat-table>
    </mat-tab>

    <mat-tab label="Meus locais de atendimento">
    
    </mat-tab>
  </mat-tab-group>
</progress-spinner>