<div class="mrc-dialog-title">Valores de referência</div>
<div class="mrc-dialog-separator"></div>
<div>
  <mat-form-field floatLabel="always">
    <mat-label>Peso (kg)</mat-label>
    <input matInput type="number" [formControl]="weightFormControl" [(ngModel)]="planning.weight" (blur)="on_blur($event.target, 'weight')">
    <mat-error>Valor inválido</mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Energia (kcal)</mat-label>
    <input matInput type="number" [formControl]="energyFormControl" [(ngModel)]="planning.energy" (blur)="on_blur($event.target, 'energy')">
    <mat-error>Valor inválido</mat-error>
  </mat-form-field>

  <div>
    <mat-form-field floatLabel="always">
      <mat-label>Proteína (%)</mat-label>
      <input matInput type="number" [formControl]="proteinFormControl" [(ngModel)]="planning.protein" (blur)="on_blur($event.target, 'protein')" min="0" max="100">
      <mat-error>Valor inválido</mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-label>Carboidrato (%)</mat-label>
      <input matInput type="number" [formControl]="carbohydrateFormControl" [(ngModel)]="planning.carbohydrate" (blur)="on_blur($event.target, 'carbohydrate')" min="0" max="100">
      <mat-error>Valor inválido</mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-label>Lipídio (%)</mat-label>
      <input matInput type="number" [formControl]="lipidFormControl" [(ngModel)]="planning.lipid" (blur)="on_blur($event.target, 'lipid')" min="0" max="100">
      <mat-error>Valor inválido</mat-error>
    </mat-form-field>
  </div>

  <div>
    <label>Total:</label>
    <span class="dialog-planning-separator"></span>
    <label>{{ total }}</label>
    <span class="dialog-planning-separator">%</span>
  </div>
</div>
<div id="mrc-edit-page-footer">
  <div class="mrc-dialog-separator"></div>
  <ng-container *ngIf="saveTouched">
    <div *ngFor="let msg of errorList" class="mrc-edit-page-error">{{ msg }}</div> 
  </ng-container>
  <div id="mrc-edit-page-footer-buttons">
    <button mat-button (click)="on_save_click()">Salvar</button>
    <button mat-button (click)="on_close_click()">Cancelar</button>
  </div>
</div>