measurement-item .measurement-item-label {
  display: flex;
  font-size: 9pt;
  margin: 16px 0 0 22px;
}

measurement-item .measurement-item-table-no-item {
  font-size: 8pt;
  margin: 8px 0 0 16px;
  max-width: 350px;
  padding: 16px;
  text-align: center;
}

measurement-item .measurement-item-chart-container {
  height: 250px;
  margin-top: 8px;
  max-width: 400px;
  min-width: 250px;
  width: 100%;
}

measurement-item .measurement-item-table-value {
  display: flex; 
  width: 100%;
}

measurement-item .measurement-item-value-classification {
  border-radius: 4px;
  margin-left: 8px;
  overflow: hidden;
  padding: 0px 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

measurement-item .mat-table {
  margin: 8px 0 0 18px;
  max-width: 350px;
}

measurement-item .mat-table > .mat-header-row > .mat-header-cell:first-of-type, measurement-item .mat-table > .mat-header-row > .mat-cell:first-of-type,
measurement-item .mat-table > .mat-row > .mat-header-cell:first-of-type,
measurement-item .mat-table > .mat-row > .mat-cell:first-of-type {
  padding-left: 8px;
}

measurement-item .mat-table > .mat-header-row > .mat-header-cell, measurement-item .mat-table > .mat-header-row > .mat-cell,
measurement-item .mat-table > .mat-row > .mat-header-cell,
measurement-item .mat-table > .mat-row > .mat-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

measurement-item .mat-table > .mat-header-row .mat-column-commands,
measurement-item .mat-table > .mat-row .mat-column-commands {
  max-width: 40px;
}

measurement-item .mat-table > .mat-header-row .mat-column-timestamp,
measurement-item .mat-table > .mat-row .mat-column-timestamp {
  max-width: 70px;
}

measurement-item .mat-table > .mat-header-row .mat-column-value,
measurement-item .mat-table > .mat-row .mat-column-value {
  margin: 0 8px;
}

measurement-item .measurement-item-margin-left-right-4 {
  margin: 0 4px;
}

measurement-item #measurement-item-predictive-equation > label {
  margin-left: 16px;
}

measurement-item #measurement-item-predictive-equation-content {
  display: flex;
}

measurement-item #measurement-item-predictive-equation-content #measurement-item-predictive-equation-select-container {
  display: inline;
  margin: 0 16px 4px 16px;
  width: 70%;
}

measurement-item #measurement-item-predictive-equation-content #measurement-item-predictive-equation-select-container > .mat-select {
  background-color: #e5e5e5;
  border-radius: 4px;
  font-size: 9pt;
  padding: 4px;
}

measurement-item #measurement-item-predictive-equation-content .measurement-item-predictive-equation-value {
  align-items: center;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

measurement-item #measurement-item-predictive-equation-content .icon-save {
  align-items: center;
  color: #298dca;
  cursor: pointer;
  display: flex;
  margin-left: 8px;
}

measurement-item .mat-expansion-panel-body > .mat-button {
  height: 22px;
  line-height: 22px;
  margin: 8px 0 0 16px;
  padding: 0 8px;
}

measurement-item .icon-delete, measurement-item .icon-edit {
  color: #4f4f4f;
  cursor: pointer;
  font-size: 12pt;
  margin-right: 8px;
}
