measurement-item {
  .measurement-item-add-button {
    margin: 8px 0 0 36px;
  }

  > .mat-table {
    margin: 8px 0 0 22px;
    max-width: 350px;
    
    //TODO: move to global
    .mat-cell:first-of-type {
      padding-left: 16px;
    }
  }

  .measurement-unit {
    margin-left: 4px;
  }

  //TODO: move to global
  .mat-button {
    padding: 0 8px;
  }

  .icon-delete, .icon-edit {
    color: #4f4f4f;		
    cursor: pointer;
    font-size: 12pt;
    margin-right: 8px;
  }
}