dialog-selector {

  .cdk-column-select {
    max-width: 30px;
  }

  .dialog-selector-filter-group {
    align-items: center;
    display: flex;
    font-size: 9pt;
    margin: 8px;
    width: 300px;

    > label {
      margin-right: 8px;
      text-align: end;
      width: 42px;
    }

    > input {
      width: calc(100% - 112px);
    }

    > .mat-select {
      width: calc(100% - 112px);
    }
  }

  .dialog-selector-selection-buttons {
    display: flex;

    .mat-button {
      height: 22px;
      line-height: 22px;
      margin: 8px 0 8px 16px;
      padding: 0 8px;
    }
  }

  .dialog-selector-add-other {
    margin: 4px 0;

    > label {
      margin: 0 8px 0 16px;
    }

    > .icon-add {
      cursor: pointer;
      top: 3px;
      left: 4px;
      position: relative;
    }
  }

  #dialog-selector-workspace {
    overflow: hidden;

    &-table {
      height: calc(100% - 50px);
      overflow: auto;

      .mat-table {
  
        > .mat-row {
          min-height: 36px;
          height: 36px;
        }
      }
    }

    &-list {
      height: 140px;
      overflow: auto;

      &-text {
        align-items: center;
        background-color: white;
        display: flex;
        font-size: 9pt;
        font-style: italic;
        height: 25px;
        margin-left: 16px;
        position: sticky;
        top: 0;
        z-index: 100;
      }
    }
  }

  .dialog-selector-table-cell {
    line-height: 18px;
    max-height: 36px;
  }

  .mat-button {
    float: right;
    margin-left: 8px;
  }

  .dialog-selector-notfound-msg {
    font-size: 9pt;
    margin: 4px;
  }

  .dialog-selector-notfound-link {
    color: #3a9cd8;
    cursor: pointer;
    font-size: 9pt;
    margin: 4px;
    text-decoration: underline;
  }

  mat-header-row {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
  }
}