dialog-selector .cdk-column-select {
  max-width: 30px;
}

dialog-selector .dialog-selector-filter {
  margin: 4px;
  width: calc(100% - 4px);
}

dialog-selector .mat-button {
  float: right;
  margin-left: 8px;
}

dialog-selector .dialog-selector-notfound-msg {
  font-size: 9pt;
  margin: 4px;
}

dialog-selector .dialog-selector-notfound-link {
  color: #3a9cd8;
  cursor: pointer;
  font-size: 9pt;
  margin: 4px;
  text-decoration: underline;
}

dialog-selector mat-table {
  overflow: auto;
}

dialog-selector mat-header-row {
  background-color: #fff;
  position: sticky;
  z-index: 100;
}
