<div class="mrc-dialog-title">{{ title }}</div><!--  TODO -->
<div class="mrc-dialog-separator"></div>

<div class="dialog-selector-filter-group">
  <label>Grupo:</label>
  <mat-select [value]="selectedGroup" (selectionChange)="on_group_selection_change($event)">
    <mat-option *ngFor="let option of groups" [value]="option.name"><!--  TODO -->
      {{ option.name }}
    </mat-option>
  </mat-select>
</div>
<div class="dialog-selector-filter-group">
  <label>Filtro:</label>
  <input (keyup)="applyFilter($event.target.value)">
</div>
<div class="dialog-selector-selection-buttons">
  <button mat-button (click)="on_select_all_click()">Selecionar todos</button>
  <button mat-button (click)="on_deselect_all_click()">Deselecionar todos</button>
</div>
<div id="dialog-selector-workspace" [style.height]="isNullOrEmpty(this.notfoundMsg || this.notfoundLinkMsg) ? 'calc(100% - 166px)' : 'calc(100% - 202px)'">
  <div id="dialog-selector-workspace-table">
    <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <!-- <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" disableRipple="true">
          </mat-checkbox>
        </mat-header-cell> -->
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" disableRipple="true">
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      
      <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
        <!-- <mat-header-cell *matHeaderCellDef>{{ column.title }}</mat-header-cell> -->
        <mat-cell *matCellDef="let element">
          <div class="dialog-selector-table-cell">{{ element[column.key] }}</div>
        </mat-cell>
      </ng-container>

      <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></mat-row>
    </mat-table>
  </div>
  <div id="dialog-selector-workspace-list">
    <div class="dialog-selector-add-other">
      <label>Outros:</label>
      <input type="text" #otherBox/>
      <span class="icon-add" (click)="add_item(otherBox.value)"></span>
    </div>
    <div id="dialog-selector-workspace-list-text">{{ selectionText }}</div>
    <!-- <mat-list>
      <mat-list-item *ngFor="let item of selection.selected">{{ item.name }}</mat-list-item>
    </mat-list> -->
  </div>
</div>
<div class="dialog-selector-notfound-msg">{{ notfoundMsg }}</div>
<div class="dialog-selector-notfound-link" (click)="add_item_clicked()">{{ notfoundLinkMsg }}</div>
<div class="mrc-dialog-separator"></div>
<div>
  <button mat-button (click)="cancel_clicked()">Cancelar</button>
  <button mat-button (click)="save_clicked()">Salvar</button>
</div>