dialog-selector {

  .cdk-column-select {
    max-width: 30px;
  }

  .dialog-selector-filter-group {
    align-items: center;
    display: flex;
    font-size: 9pt;
    margin: 8px;
    width: 300px;

    > label {
      margin-right: 8px;
      text-align: end;
      width: 60px;
    }

    > input {
      width: calc(100% - 112px);
    }

    > .mat-select {
      width: calc(100% - 112px);
    }
  }

  #dialog-selector-workspace {
    overflow: auto;

    > .mat-table {
      height: 100%;
      overflow: hidden;
  
      > .mat-row {
        min-height: 36px;
        height: 36px;
      }
    }
  }

  .dialog-selector-table-cell {
    line-height: 18px;
    max-height: 36px;
  }

  .mat-button {
    float: right;
    margin-left: 8px;
  }

  .dialog-selector-notfound-msg {
    font-size: 9pt;
    margin: 4px;
  }

  .dialog-selector-notfound-link {
    color: #3a9cd8;
    cursor: pointer;
    font-size: 9pt;
    margin: 4px;
    text-decoration: underline;
  }

  mat-header-row {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
  }
}