page-users {
  display: block;
  margin: 16px;
  width: 100%;
}

page-users .page-users-title {
  font-size: 12pt;
  margin: 8px 8px 8px 22px;
}

page-users .mat-column-current {
  flex: none;
  width: 80px;
}

page-users .mat-column-administrator {
  flex: none;
  text-align: center;
  width: 150px;
}

page-users .mrc-button {
  margin: 8px 8px 8px 22px;
}

page-users .icon-delete {
  cursor: pointer;
  font-size: 12pt;
  color: #4f4f4f;
}
