page-users {
	display: block;
	margin: 16px;
	width: 100%;

	.page-users-title {
		font-size: 12pt;
		margin: 8px 8px 8px 22px;
	}

	.mat-column-current {
		flex: none;
		width: 80px;
	}

	.mat-column-administrator {
		flex: none;
		text-align: center;
		width: 150px;
	}

	.mat-button {
		margin: 8px 8px 8px 22px;
	}

	.icon-delete, .icon-edit {
		cursor: pointer;
		font-size: 12pt;
		color: #4f4f4f;		
	}
}