mrc-patients {
  height: 100%;
}

mrc-patients .patient-filter-input {
  display: flex;
  margin: 16px 0 0 36px;
}

mrc-patients > .mat-button {
  margin: 8px 0 0 36px;
}

mrc-patients .icon-delete, mrc-patients .icon-edit {
  cursor: pointer;
  font-size: 12pt;
  color: #4f4f4f;
}

mrc-patients .mat-table {
  height: calc(100% - 227px);
  margin: 8px 22px;
  max-width: 800px;
}

mrc-patients .mat-table .mat-row:hover {
  background-color: #efefef;
  cursor: pointer;
}

mrc-patients .mat-paginator {
  max-width: 800px;
}
