mrc-patients {
	height: 100%;

	.patient-filter-input {
		display: flex;
		margin: 8px 36px;
	}

	> .mat-button {
		margin: 8px 0 0 36px;
	}

	.icon-delete, .icon-edit {
		cursor: pointer;
		font-size: 12pt;
		color: #4f4f4f;		
	}

	.mat-table {
		margin: 8px 22px;

		.mat-row:hover {
			background-color: #efefef;
			cursor: pointer;
		}
	}
}