<div class="mrc-page-title">Pacientes</div>
<button mat-button (click)="editPatient()">Adicionar paciente</button>
<input class="patient-filter-input" (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
<progress-spinner [progress]="loading">
  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> NOME </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="commands">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <span>
          <span 
            title="Editar" class="icon-edit" (click)="editPatient(element)"></span>
          <span
            title="Remover clínica" class="icon-delete" (click)="on_remove_patient_click($event, element)"></span> 
        </span>  
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigate('consulta', row._id)"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButtons></mat-paginator>
</progress-spinner>