page-clinic-edit {
  display: flex;
  flex-direction: column;
  height: 100%;
}

page-clinic-edit #mrc-edit-page-content {
  height: 100%;
}

page-clinic-edit #mrc-edit-page-item {
  display: flex;
  font-size: 9pt;
  margin: 4px 0 0px 16px;
}

page-clinic-edit #mrc-edit-page-item > label {
  margin-right: 4px;
  width: 80px;
}
