<div>
  <div class="mrc-page-title">{{ clinic?.name }}</div>
  <div class="mrc-page-subtitle">Alterar dados da clínica</div>
</div>
<div id="mrc-edit-page-content">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
      <mat-panel-title>Dados gerais</mat-panel-title>
    </mat-expansion-panel-header>

    <div id="mrc-edit-page-item">
      <label>Nome</label>
      <input type="text" [ngModel]="clinic?.name" (ngModelChange)="clinic.name = nameBox.value; markAsDirty()" #nameBox />
    </div>
    <div id="mrc-edit-page-item">
      <label>CNES</label>
      <input type="text" [ngModel]="clinic?.cnes" (ngModelChange)="clinic.cnes = cnesBox.value; markAsDirty()" #cnesBox />
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
      <mat-panel-title>Endereço</mat-panel-title>
    </mat-expansion-panel-header>
    
    <div id="mrc-edit-page-item">
      <label>CEP</label>
      <zipcode-input [value]="clinic?.address?.zipcode" (zipcodeUpdate)="on_zipcode_update($event)"></zipcode-input>
    </div>
    
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
      <mat-panel-title>Contato</mat-panel-title>
    </mat-expansion-panel-header>
      
    <div id="mrc-edit-page-item">
      <label>E-mail</label>
      <input type="text" [ngModel]="clinic?.email" (ngModelChange)="clinic.email = emailBox.value" #emailBox />
    </div>
    <div id="mrc-edit-page-item">
      <label>Telefone 1</label>
      <input type="text" [ngModel]="clinic?.phone1" (ngModelChange)="clinic.phone1 = phone1Box.value" #phone1Box />
    </div>
    <div id="mrc-edit-page-item">
      <label>Telefone 2</label>
      <input type="text" [ngModel]="clinic?.phone2" (ngModelChange)="clinic.phone2 = phone2Box.value" #phone2Box />
    </div>
      
  </mat-expansion-panel>
</div>
<div id="mrc-edit-page-footer">
  <div class="mrc-dialog-separator"></div>
  <div id="mrc-edit-page-footer-buttons">
    <button mat-button [disabled]="!dirty" (click)="on_apply_clicked()">Aplicar</button>
    <button mat-button (click)="on_cancel_clicked()">Cancelar</button>
  </div>
</div>