<div class="mrc-ribbon-config">
    <!--  -->
    <div class="mrc-ribbon-config-group">
      <div class="mrc-ribbon-config-group-content">
        <div class="mrc-ribbon-config-group-item" *ngIf="canRegisterDocuments" (click)="ribbon_item_clicked()">
          <div class="icon-list icon"></div>	
          <span>Documentos</span>
        </div>
        <div class="mrc-ribbon-config-group-item" *ngIf="canRegisterProfessionals" (click)="ribbon_item_clicked('professionals')">
          <div class="icon-professional icon"></div>	
          <span>Profissionais</span>
        </div>        
        <div class="mrc-ribbon-config-group-item" *ngIf="canRegisterUsers" (click)="ribbon_item_clicked('users')">
          <div class="icon-user icon"></div>	
          <span>Usuários</span>
        </div>        
      </div>
      <div class="mrc-ribbon-config-group-footer" *ngIf="showRegisterFooterAndDivider">CADASTRO</div>
    </div>
    <div class="mrc-ribbon-config-divider" *ngIf="showRegisterFooterAndDivider"></div>
    <div class="mrc-ribbon-config-group">
      <div class="mrc-ribbon-config-group-content">
        <div class="mrc-ribbon-config-group-item">
          <div class="icon-add icon"></div>	
          <span>Novo cliente</span>
        </div>
        <div class="mrc-ribbon-config-group-item">
          <div class="icon-list icon"></div>	
          <span>Listar clientes</span>
        </div>
      </div>
      <!-- <div class="mrc-ribbon-config-group-footer">CLIENTES</div> -->
    </div>
  
  </div>