<div class="mrc-ribbon-config">
    <!--  -->
    <div class="mrc-ribbon-config-group">
      <div class="mrc-ribbon-config-group-content">
        <div class="mrc-ribbon-config-group-item" (click)="item_users_clicked()">
          <div class="icon-add icon"></div>	
          <span>Usuários</span>
        </div>
        <div class="mrc-ribbon-config-group-item">
          <div class="icon-list icon"></div>	
          <span>Profissionais</span>
        </div>
        <div class="mrc-ribbon-config-group-item">
            <div class="icon-list icon"></div>	
            <span>Documentos</span>
          </div>
      </div>
      <div class="mrc-ribbon-config-group-footer">CADASTRO</div>
    </div>
    <div class="mrc-ribbon-config-divider"></div>
    <div class="mrc-ribbon-config-group">
      <div class="mrc-ribbon-config-group-content">
        <div class="mrc-ribbon-config-group-item">
          <div class="icon-add icon"></div>	
          <span>Novo cliente</span>
        </div>
        <div class="mrc-ribbon-config-group-item">
          <div class="icon-list icon"></div>	
          <span>Listar clientes</span>
        </div>
      </div>
      <!-- <div class="mrc-ribbon-config-group-footer">CLIENTES</div> -->
    </div>
  
  </div>