<div>
  <div class="mrc-page-title">Gasto Energético</div>
  <div class="mrc-page-subtitle" *ngIf="isNew; else elseBlock">Adicionar gasto energético</div>
  <ng-template #elseBlock>
    <div class="mrc-page-subtitle">Editar gasto energético</div>
  </ng-template>
</div>
<progress-spinner [progress]="loading">
  <div *ngIf="energyExpend" class="page-energy-expend-edit-content">
     <mat-form-field floatLabel="always" class="page-energy-expend-edit-content-description-field">
      <mat-label>Descrição</mat-label>
      <textarea matInput [formControl]="descriptionFormControl" [(ngModel)]="energyExpend.description"></textarea>
      <mat-error>Campo <strong>obrigatório</strong></mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" class="page-energy-expend-edit-content-date-field">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="myDatepicker" [formControl]="dateFormControl" [value]="energyExpend.date"
        (ngModelChange)="energyExpend.date = $event ? $event.toISOString() : energyExpend.date">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
      <mat-error *ngIf="dateFormControl.hasError('required')">
        Informe uma data válida
      </mat-error>
    </mat-form-field>

    <div class="page-energy-expend-edit-columns">
      <mat-form-field floatLabel="always">
        <mat-label>Altura (cm)</mat-label>
        <input matInput [formControl]="heightFormControl" [(ngModel)]="energyExpend.height">
        <mat-error>Campo <strong>obrigatório</strong></mat-error>
      </mat-form-field>
      <div class="page-energy-expend-edit-columns-separator"></div>
      <mat-form-field floatLabel="always">
        <mat-label>Peso (kg)</mat-label>
        <input matInput type="number" [formControl]="weightFormControl" [ngModel]="energyExpend.weight" (ngModelChange)="on_weight_changed($event)">
        <mat-error>Campo <strong>obrigatório</strong></mat-error>
      </mat-form-field>
    </div>

    <mat-form-field floatLabel="always" class="page-energy-expend-edit-content-field">
      <mat-label>Protocolo</mat-label>
      <mat-select [ngModel]="energyExpend.selectedProtocol" (ngModelChange)="on_protocol_changed($event)" [formControl]="protocolFormControl">
        <mat-option *ngFor="let item of protocols" [value]="item.id">{{ item.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="page-energy-expend-edit-content-field">
      <mat-label>Nível de atividade</mat-label>
      <mat-select [ngModel]="energyExpend.activityFactor" (ngModelChange)="on_activity_factor_changed($event)" [formControl]="activityFormControl">
        <mat-option *ngFor="let activity of activityFactorList" [value]="activity.value">{{ activity.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="page-energy-expend-edit-columns">
      <mat-form-field floatLabel="always">
        <mat-label>Fator injúria</mat-label>
        <mat-select [ngModel]="energyExpend.injuryId" (ngModelChange)="on_injury_factor_change($event)" [formControl]="injurySelectFormControl">
          <mat-option *ngFor="let injury of injuries" [value]="injury.id">{{ injury.description }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="page-energy-expend-edit-columns-separator"></div>
      <mat-form-field floatLabel="always" *ngIf="energyExpend.injuryId && energyExpend.injuryId > 0">
        <mat-label>Valor ({{ injuryRange }})</mat-label>
        <input matInput type="number" [formControl]="injuryFactorFormControl" [(ngModel)]="energyExpend.injuryFactor" [max]="injuryMax" [min]="injuryMin">
        <mat-error>Informe um valor entre {{ injuryMin }} e {{ injuryMax }}</mat-error>
      </mat-form-field>
    </div>
    <ng-container *ngIf="energyExpend.selectedProtocol == 3">
      <mat-form-field floatLabel="always">
        <mat-label>Massa magra (kg)</mat-label>
        <input matInput type="number" [formControl]="leanMassFormControl" [(ngModel)]="energyExpend.leanMass">
      </mat-form-field>
    </ng-container>

    <div *ngIf="energyExpend.height && energyExpend.height">
      <label>Resultado</label>
      <div>TMB: {{ tmb | unitFormater: 'kcal':'0' }}</div>
      <div>GET: {{ get | unitFormater: 'kcal':'0' }}</div>
    </div>
    <div>
      <mat-form-field floatLabel="always">
        <mat-label>Gasto energético estipulado</mat-label>
        <input matInput [formControl]="resultFactorFormControl" [(ngModel)]="result">
      </mat-form-field>
    </div>
  </div>
  <div id="mrc-edit-page-footer">
    <div class="mrc-dialog-separator"></div>
    <!-- <div *ngFor="let msg of errorList" class="mrc-edit-page-error">{{ msg }}</div>  TODO-->
    <div id="mrc-edit-page-footer-buttons">
      <button mat-button>Salvar</button> <!-- TODO: [disabled]="!dirty && !isNew" (click)="on_save_clicked()" -->
      <button mat-button (click)="on_cancel_clicked()">Cancelar</button>
    </div>
  </div>
</progress-spinner>