<div>
  <div class="mrc-page-title">Gasto Energético</div>
  <div class="mrc-page-subtitle" *ngIf="isNew; else elseBlock">Adicionar gasto energético</div>
  <ng-template #elseBlock>
    <div class="mrc-page-subtitle">Editar gasto energético</div>
  </ng-template>
</div>
<progress-spinner [progress]="loading">
  <div *ngIf="energyExpend" class="page-energy-expend-edit-content">
     <mat-form-field floatLabel="always" class="page-energy-expend-edit-content-description-field">
      <mat-label>Descrição</mat-label>
      <textarea matInput [formControl]="descriptionFormControl" [(ngModel)]="energyExpend.description"></textarea>
      <mat-error>Campo <strong>obrigatório</strong></mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" class="page-energy-expend-edit-content-date-field">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="myDatepicker" [formControl]="dateFormControl" [value]="energyExpend.date"
        (ngModelChange)="energyExpend.date = $event ? $event.toISOString() : energyExpend.date">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
      <mat-error *ngIf="dateFormControl.hasError('required')">
        Informe uma data válida
      </mat-error>
    </mat-form-field>

    <div style="display: flex">
      <mat-form-field floatLabel="always">
        <mat-label>Altura (cm)</mat-label>
        <input matInput [formControl]="heightFormControl" [(ngModel)]="energyExpend.height">
        <mat-error>Campo <strong>obrigatório</strong></mat-error>
      </mat-form-field>
      <div style="width: 8px"></div>
      <mat-form-field floatLabel="always">
        <mat-label>Peso (kg)</mat-label>
        <input matInput [formControl]="weightFormControl" [(ngModel)]="energyExpend.weight">
        <mat-error>Campo <strong>obrigatório</strong></mat-error>
      </mat-form-field>
    </div>

    <mat-form-field floatLabel="always">
      <mat-label>Protocolo</mat-label>
      <mat-select [(ngModel)]="energyExpend.selectedProtocol">
        <mat-option *ngFor="let item of protocols" [value]="item.id">{{ item.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field floatLabel="always">
      <mat-label>Nível de atividade</mat-label>
      <mat-select [(ngModel)]="energyExpend.activityFactor">
        <!-- TODO: <mat-option *ngFor="let activity of activityFactorList" [value]="item.id">{{ item.name }}</mat-option> -->
      </mat-select>
    </mat-form-field>

    <div *ngIf="energyExpend.height && energyExpend.height">
      <label>Resultado</label>
      <div>TMB: {{ tmb }}</div>
    </div>
  </div>
  <div id="mrc-edit-page-footer">
    <div class="mrc-dialog-separator"></div>
    <!-- <div *ngFor="let msg of errorList" class="mrc-edit-page-error">{{ msg }}</div>  TODO-->
    <div id="mrc-edit-page-footer-buttons">
      <button mat-button>Salvar</button> <!-- TODO: [disabled]="!dirty && !isNew" (click)="on_save_clicked()" -->
      <button mat-button>Cancelar</button> <!-- TODO: (click)="on_cancel_clicked()" -->
    </div>
  </div>
</progress-spinner>