page-energy-expend-edit {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
}

page-energy-expend-edit progress-spinner {
  height: 100%;
  overflow: auto;
}

page-energy-expend-edit .page-energy-expend-edit-content {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  overflow: auto;
  padding: 0 22px;
}

page-energy-expend-edit .page-energy-expend-edit-content-description-field {
  max-width: 500px;
}

page-energy-expend-edit .page-energy-expend-edit-content-description-field textarea {
  height: 80px;
}

page-energy-expend-edit .page-energy-expend-edit-content-date-field {
  max-width: 300px;
}

page-energy-expend-edit .page-energy-expend-edit-content-field {
  max-width: 180px;
}

page-energy-expend-edit .page-energy-expend-edit-content-field-reduced {
  max-width: 60px;
}

page-energy-expend-edit .page-energy-expend-edit-content-result {
  background-color: #f7f7f7; 
  font-size: 9pt; 
  margin-bottom: 16px; 
  max-width: 500px; 
  padding: 8px;
}

page-energy-expend-edit .page-energy-expend-edit-content-result-error {
  color: #6c757d;
  font-style: italic; 
}

page-energy-expend-edit .page-energy-expend-edit-columns {
  display: flex;
}

page-energy-expend-edit .page-energy-expend-edit-columns-separator {
  width: 8px;
}

page-energy-expend-edit .page-energy-expend-edit-columns-aligned {
  text-align: center;
}

page-energy-expend-edit .page-energy-expend-edit-woman-situation {
  align-items: baseline;
}

page-energy-expend-edit .page-energy-expend-edit-woman-situation-time-unit {
  font-size: 9pt;
}

page-energy-expend-edit #mrc-edit-page-footer .mrc-edit-page-error {
  color: #ef1508;
  font-size: 9pt;
  margin: 0 0 4px 22px;
}

page-energy-expend-edit #mrc-edit-page-footer-buttons {
  margin: 8px 0 8px 22px;
}

page-energy-expend-edit #mrc-edit-page-footer-buttons > button {
  margin: 0 8px 0 0;
  width: 85px;
}
