<div>
  <div class="mrc-page-title">Gasto Energético</div>
  <div class="mrc-page-subtitle" *ngIf="isNew; else elseBlock">Adicionar gasto energético</div>
  <ng-template #elseBlock>
    <div class="mrc-page-subtitle">Editar gasto energético</div>
  </ng-template>
</div>
<progress-spinner [progress]="loading">
  <div *ngIf="energyExpend" class="page-energy-expend-edit-content">
     <mat-form-field floatLabel="always" class="page-energy-expend-edit-content-description-field">
      <mat-label>Descrição</mat-label>
      <textarea matInput [formControl]="descriptionFormControl" [(ngModel)]="energyExpend.description"></textarea>
      <mat-error>Campo <strong>obrigatório</strong></mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" class="page-energy-expend-edit-content-date-field">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="myDatepicker" [formControl]="dateFormControl" [value]="energyExpend.date"
        (ngModelChange)="energyExpend.date = $event ? $event.toISOString() : energyExpend.date">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
      <mat-error *ngIf="dateFormControl.hasError('required')">
        Informe uma data válida
      </mat-error>
    </mat-form-field>
  </div>
  <div id="mrc-edit-page-footer">
    <div class="mrc-dialog-separator"></div>
    <!-- <div *ngFor="let msg of errorList" class="mrc-edit-page-error">{{ msg }}</div>  TODO-->
    <div id="mrc-edit-page-footer-buttons">
      <button mat-button>Salvar</button> <!-- TODO: [disabled]="!dirty && !isNew" (click)="on_save_clicked()" -->
      <button mat-button>Cancelar</button> <!-- TODO: (click)="on_cancel_clicked()" -->
    </div>
  </div>
</progress-spinner>