page-reset-password .page-reset-password-title {
  font-size: 12pt;
  margin: 8px 8px 8px 22px;
}

page-reset-password .page-reset-password-info {
  font-size: 9pt;
  margin: 8px 8px 8px 22px;
}

page-reset-password .page-reset-password-group {
  font-size: 9pt;
  margin: 8px 8px 8px 22px;
  width: 190px;
}

page-reset-password .mrc-button {
  text-align: right;
}
