page-reset-password .page-reset-password-title {
  font-size: 12pt;
  margin: 8px 8px 16px 22px;
}

page-reset-password .page-reset-password-info {
  font-size: 9pt;
  margin: 8px 8px 8px 22px;
}

page-reset-password .page-reset-password-group {
  font-size: 9pt;
  margin: 8px 8px 8px 22px;
  width: 190px;
}

page-reset-password .page-reset-password-button {
  align-items: center;
  display: flex;
  height: 30px;
  margin: 8px 8px 8px 22px;
  width: 235px;
}

page-reset-password .page-reset-password-button > div {
  color: orangered;
  font-size: 9pt;
}

page-reset-password .mrc-button {
  margin-left: auto;
}

page-reset-password .mrc-dialog-separator {
  margin-left: 22px;
  width: 235px;
}
