<div class="page-reset-password-title">Redefinir sua senha</div>
<div class="page-reset-password-info">Escolha uma nova senha para este usuário</div>
<div class="page-reset-password-group">
  <div>Nova senha</div>
  <input type="text" (change)="password = passBox.value" #passBox />
</div>
<div class="page-reset-password-group">
  <div>Confirme a nova senha</div>
  <input type="text" (change)="passwordConfirm = passConfBox.value" #passConfBox />
</div>
<div class="mrc-dialog-separator"></div>
<div class="page-reset-password-button">
  <div>Mensagem de erro</div>
  <a class="mrc-button" (click)="ok_clicked()">OK</a>
</div>