<div class="mrc-ribbon-cadastro">
	<!--  -->
	<div class="mrc-ribbon-cadastro-group">
		<div class="mrc-ribbon-cadastro-group-content">
			<div class="mrc-ribbon-cadastro-group-item" (click)="item_clicked()">
				<div class="icon-add icon"></div>	
				<span>Novo produto</span>
			</div>
			<div class="mrc-ribbon-cadastro-group-item">
				<div class="icon-list icon"></div>	
				<span>Listar produtos</span>
			</div>
		</div>
		<div class="mrc-ribbon-cadastro-group-footer">PRODUTOS</div>
	</div>
	<div class="mrc-ribbon-cadastro-divider"></div>
	<div class="mrc-ribbon-cadastro-group">
		<div class="mrc-ribbon-cadastro-group-content">
			<div class="mrc-ribbon-cadastro-group-item">
				<div class="icon-add icon"></div>	
				<span>Novo cliente</span>
			</div>
			<div class="mrc-ribbon-cadastro-group-item">
				<div class="icon-list icon"></div>	
				<span>Listar clientes</span>
			</div>
		</div>
		<div class="mrc-ribbon-cadastro-group-footer">CLIENTES</div>
	</div>

</div>