mrc-header-menu {
	display: flex;
	width: 100%;
	flex-direction: column;
	
	.header-menu-group {
		display: flex;
		height: 30px;
		background-color: #298dca;
	}
	
	.header-menu-item {
		display: flex;
		font-size: 9pt;
		margin-left: 24px;
		cursor: pointer;
		padding: 8px;
		color: #fff;
	}
	
	.header-menu-item:hover {
		background-color: #2070a1;
	}
	
	.selected, .selected:hover {
		color: #298dca;
		background-color: #f2f2f2;
	}
}