<div>
  <div class="mrc-page-title">{{ pageTitle }}</div>
  <div class="mrc-page-subtitle">{{ pageSubtitle }}</div>
</div>
<progress-spinner [progress]="loading">
  <div *ngIf="labExam" class="page-lab-analysis-edit-content"> 
    <mat-form-field floatLabel="always" class="page-lab-analysis-edit-content-description-field">
      <mat-label>Descrição</mat-label>
      <textarea matInput [formControl]="descriptionFormControl"></textarea>
      <mat-error>Campo <strong>obrigatório</strong></mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always" class="page-lab-analysis-edit-content-date-field">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="myDatepicker" [formControl]="dateFormControl">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
      <mat-error *ngIf="dateFormControl.hasError('required')">
        Informe uma data válida
      </mat-error>
    </mat-form-field>

    <mat-accordion displayMode="flat" multi="true">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
          <mat-panel-title>{{ labExam.isResult ? 'Resultados' : 'Requisições' }}</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="page-lab-analysis-edit-content-table-actions">
          <button mat-button (click)="on_add_exams_click()">{{ labExam.isResult ? 'Adicionar resultado' : 'Adicionar exames' }}</button> 
          <button mat-button *ngIf="!labExam.isResult" (click)="on_fill_result_click()">Preencher resultados</button> 
          <button mat-button *ngIf="!labExam.isResult">Imprimir</button> <!-- TODO -->
          <button mat-button *ngIf="!labExam.isResult">Enviar para e-mail do paciente</button> <!-- TODO -->
        </div>
        <mat-table #table [dataSource]="tableSource" 
          *ngIf="this.labExam.exams && this.labExam.exams.length > 0; else elseBlock">
          <ng-container matColumnDef="exam">
            <mat-header-cell *matHeaderCellDef>Exame</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
          </ng-container>
          <ng-container *ngIf="this.labExam.isResult" matColumnDef="value">
            <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;"> 
              <mat-form-field class="page-lab-analysis-edit-content-table-value" floatLabel="always">
                <input matInput type="number" [(ngModel)]="element.value"  [formControl]="examValueFormControls[i]">
              </mat-form-field>
              <select (change)="on_unit_change(element, unitSelect.value)" #unitSelect>
                <option *ngFor="let unit of element.availableUnits" [value]="unit.converterFactor" [selected]="unit.converterFactor == element.converterFactor">
                  {{ unit.description }}
                </option> 
              </select>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="commands">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element"> 
              <span>
                <span title="Remover" class="icon-delete" (click)="on_remove_exam_click($event, element)"></span>
              </span>  
            </mat-cell>
          </ng-container>
            
          <mat-header-row *matHeaderRowDef="tableDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: tableDisplayedColumns;"></mat-row>
        </mat-table>
        <ng-template #elseBlock>
          <div class="page-lab-analysis-edit-content-table-empty">Nenhum exame adicionado</div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</progress-spinner>
<div id="mrc-edit-page-footer">
  <div class="mrc-dialog-separator"></div>
  <div *ngFor="let msg of errorList" class="mrc-edit-page-error">{{ msg }}</div> 
  <div id="mrc-edit-page-footer-buttons">
    <button mat-button (click)="on_save_clicked()">Salvar</button> <!-- TODO: [disabled]="!dirty && !isNew" -->
    <button mat-button (click)="on_cancel_clicked()">Cancelar</button> 
  </div>
</div>