page-food-plan-edit {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);

  progress-spinner {
    height: calc(100% - 120px);
    overflow: auto;
  }

  .page-food-plan-edit-content {
    display: flex; 
    flex-direction: column; 
    margin: 16px 22px; 
    min-width: 400px;

    &-description-field {
      width: 100%;
      padding-right: 8px;

      textarea {
        height: 80px;
      }
    }

    &-date-field {
      max-width: 300px;
    }

    &-food-source-type {
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;

      > label {
        margin-bottom: 4px;
      }
    }

    &-meals {
      display: flex; 
      flex-direction: column; 
      margin-top: 8px;

      .mat-card {
        margin-top: 8px; 
        max-width: 250px; 
        padding-bottom: 4px;

        h1 {
          color: grey;
          font-weight: 500;
        }
      }

      &-container {
        display: flex;

        &-time {
          color: #a6a3a3;
        }

        &-food-list {
          font-size: 9pt; 
          margin: 0;
        }
      }

      &-footer {
        color: #4f4f4f;
        margin-top: 16px;

        .icon-edit,
        .icon-delete {
          cursor: pointer;
          vertical-align: sub;
        }

        .mat-button {
          float: right; 
          margin: 0;
        }
      }
    }

    .mat-expansion-panel {
      max-width: 800px;
    }

    .mat-button {
      height: 22px;
      line-height: 22px;
      margin: 8px 0 0 8px;
      padding: 0 8px;
    }
  }

  #mrc-edit-page-footer {

    .mrc-edit-page-error {
      color: #ef1508;
      font-size: 9pt;
      margin: 0 0 4px 22px;
    }

    &-buttons {
      margin: 8px 0 8px 22px;
      
      > button {
        margin: 0 8px 0 0;
        width: 85px;
      }
    }
  }
}