page-food-plan-edit {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);

  progress-spinner {
    height: calc(100% - 120px);
    overflow: auto;
  }

  .page-food-plan-edit-column {
    display: flex;
  }

  .page-food-plan-edit-content {
    display: flex; 
    flex-direction: column; 
    margin: 16px 22px; 
    min-width: 400px;

    &-description-field {
      margin-top: 16px;
      padding-right: 8px;
      width: 100%;

      textarea {
        height: 80px;
      }
    }

    &-date-field {
      max-width: 300px;
    }

    &-food-source-type {
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;

      > label {
        margin-bottom: 4px;
      }
    }

    &-meals {
      display: flex; 
      flex-direction: column; 
      margin-top: 8px;

      .mat-card {
        background-color: #f7f7f7;
        margin: 8px 8px 0 0;
        max-width: 250px; 
        min-width: 250px; 
        padding-bottom: 4px;

        h1 {
          color: grey;
          font-weight: 500;
        }

        .mat-button {
          margin: 4px 0 0 8px;
        }
      }

      &-container {
        display: flex;
        height: calc(100% - 69px);

        &-time {
          color: #a6a3a3;
        }

        &-food-list {
          font-size: 9pt; 
          margin: 0;
        }
      }

      &-footer {
        color: #4f4f4f;
        margin-top: 16px;

        .icon-edit,
        .icon-delete,
        .icon-list-detail {
          cursor: pointer;
          vertical-align: sub;
        }

        .mat-button {
          float: right; 
          margin: 0;
        }
      }
    }

    .mat-expansion-panel {
      max-width: 800px;
    }

    .mat-button {
      height: 22px;
      line-height: 22px;
      margin: 8px 0 0 8px;
      padding: 0 8px;
    }

    .mat-slide-toggle {
      margin-bottom: 16px;
    }
  }

  .page-food-plan-edit-macros {
    width: 400px;

    &-content {
      align-items: center;
      background-color: #f7f7f7;
      display: flex; 
      flex-direction: column;
      padding: 8px;

      .mrc-col-plan {
        background: #e5e5e5;
        text-align: center;
      }

      .mrc-col-desc {
        width: 100px;
      }

      .mrc-col-value {
      }

      .mrc-col-gpkg {
        text-align: right;
      }

      .mrc-legend-item {
        width: 8px;
        height: 8px;
        border-radius: 5px;
        margin: 1px 4px 0 0;
      }
      
      &-button-detail {
        margin-top: 8px;
      }

      &-table {
        width: 100%;

        tbody {
          tr:hover {
            background-color: #f3f3f3;
            cursor: pointer;
          }
        }
      }

      > table {
        font-size: 9pt;
        margin-top: 8px;
      }
    }
  }

  #mrc-edit-page-footer {

    .mrc-edit-page-error {
      color: #ef1508;
      font-size: 9pt;
      margin: 0 0 4px 22px;
    }

    &-buttons {
      margin: 8px 0 8px 22px;
      
      > button {
        margin: 0 8px 0 0;
        width: 85px;
      }
    }
  }
}