page-food-plan-edit {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
}

page-food-plan-edit progress-spinner {
  height: calc(100% - 120px);
  overflow: auto;
}

page-food-plan-edit .page-food-plan-edit-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  margin: 16px 22px;
  min-width: 400px;
}

page-food-plan-edit .page-food-plan-edit-content-description-field {
  width: 100%;
  padding-right: 8px;
}

page-food-plan-edit .page-food-plan-edit-content-description-field textarea {
  height: 80px;
}

page-food-plan-edit .page-food-plan-edit-content-date-field {
  max-width: 300px;
}

page-food-plan-edit .page-food-plan-edit-content-food-source-type {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

page-food-plan-edit .page-food-plan-edit-content-food-source-type > label {
  margin-bottom: 4px;
}

page-food-plan-edit .page-food-plan-edit-content-meals {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

page-food-plan-edit .page-food-plan-edit-content-meals .mat-card {
  margin-top: 8px;
  max-width: 250px;
  padding-bottom: 4px;
}

page-food-plan-edit .page-food-plan-edit-content-meals .mat-card h1 {
  color: grey;
  font-weight: 500;
}

page-food-plan-edit .page-food-plan-edit-content-meals-container {
  display: flex;
}

page-food-plan-edit .page-food-plan-edit-content-meals-container-time {
  color: #a6a3a3;
}

page-food-plan-edit .page-food-plan-edit-content-meals-container-food-list {
  font-size: 9pt;
  margin: 0;
}

page-food-plan-edit .page-food-plan-edit-content-meals-footer {
  color: #4f4f4f;
  margin-top: 16px;
}

page-food-plan-edit .page-food-plan-edit-content-meals-footer .icon-edit,
page-food-plan-edit .page-food-plan-edit-content-meals-footer .icon-delete {
  cursor: pointer;
  vertical-align: sub;
}

page-food-plan-edit .page-food-plan-edit-content-meals-footer .mat-button {
  float: right;
  margin: 0;
}

page-food-plan-edit .page-food-plan-edit-content .mat-expansion-panel {
  max-width: 800px;
}

page-food-plan-edit .page-food-plan-edit-content .mat-button {
  height: 22px;
  line-height: 22px;
  margin: 8px 0 0 8px;
  padding: 0 8px;
}

page-food-plan-edit #mrc-edit-page-footer .mrc-edit-page-error {
  color: #ef1508;
  font-size: 9pt;
  margin: 0 0 4px 22px;
}

page-food-plan-edit #mrc-edit-page-footer-buttons {
  margin: 8px 0 8px 22px;
}

page-food-plan-edit #mrc-edit-page-footer-buttons > button {
  margin: 0 8px 0 0;
  width: 85px;
}
