<div>
  <div class="mrc-page-title">{{ pageTitle }}</div>
  <div class="mrc-page-subtitle">{{ pageSubtitle }}</div>
</div>
<progress-spinner [progress]="loading">
  <div *ngIf="foodPlan" class="page-food-plan-edit-content"> 
    <mat-form-field floatLabel="always" class="page-food-plan-edit-content-description-field">
      <mat-label>Descrição</mat-label>
      <textarea matInput [formControl]="descriptionFormControl" [(ngModel)]="foodPlan.description"></textarea>
      <mat-error>Campo <strong>obrigatório</strong></mat-error>
    </mat-form-field>

    <div class="page-food-plan-edit-content-food-source-type">
      <label>{{ foodTypeSelectTxt }}</label>
      <mat-radio-group (change)="on_food_source_change($event)" #radioBox>
        <mat-radio-button [value]="true" [checked]="foodPlan.useFoodDb">Cardápio calculado</mat-radio-button>
        <mat-radio-button [value]="false" [checked]="!foodPlan.useFoodDb">Cardápio livre</mat-radio-button>
        <!-- TODO: Helper -->
      </mat-radio-group>
    </div>
    <div style="display: flex; flex-direction: column; margin-top: 8px;">
      <label>Refeições</label>
      <button mat-button (click)="on_add_meal_click()" style="max-width: 80px">Adicionar</button>
      <ng-container *ngFor="let meal of foodPlan.meals">
        <mat-card style="margin-top: 8px; max-width: 250px; padding-bottom: 4px">
          <h1 style="color: grey;font-weight: 500;">{{ meal.mealName }}</h1>
          <div style="display: flex;">
            <div style="color: #a6a3a3;">{{ meal.mealTime }}</div>
            <ul style="font-size: 9pt; margin: 0;">
              <li *ngFor="let food of meal.selectedFoods">
                {{ formatFoodDetail(food) }}
              </li>
            </ul>
          </div>
          <div style="margin-top: 16px;color: #4f4f4f;">
            <span title="Editar" class="icon-edit" style="vertical-align: sub;"></span> <!-- TODO:  (click)=""-->
            <span title="Remover" class="icon-delete" style="vertical-align: sub;"></span>  <!-- TODO:  (click)=""-->
            <button mat-button *ngIf="!foodPlan.isRecall" style="float: right; margin: 0">Adicionar substituição</button> <!-- TODO:  (click)=""-->
          </div>
        </mat-card>
      </ng-container>
    </div>
  </div>
</progress-spinner>
<div id="mrc-edit-page-footer">
  <div class="mrc-dialog-separator"></div>
  <!-- <div *ngFor="let msg of errorList" class="mrc-edit-page-error">{{ msg }}</div>  -->
  <div id="mrc-edit-page-footer-buttons">
    <button mat-button [disabled]="!dirty && !isNew">Salvar</button> <!-- TODO: (click)="on_save_clicked()" -->
    <button mat-button>Cancelar</button> <!-- TODO: (click)="on_cancel_clicked()" -->
  </div>
</div>