.mrc-global {
input, textarea, select {
    padding: 0px 4px;     
    box-sizing: border-box;
    height: 20px;
    font-family: 'Segoe UI', sans-serif, 'Arial', Tahoma, Geneva, Verdana;
    font-size: 9pt;
    border: solid 1px;
    overflow: hidden;
    white-space: nowrap;
		text-overflow: ellipsis;
		border-color: #b0b0b0;
	}

	input:-moz-read-only {
		background-color: #e7e7e7;
    color: #343434;
	}
	
	input:read-only { 
		background-color: #e7e7e7;
    color: #343434;
	}
  
  h1 {
      color: #252525;
    font-size: 12pt;
  }
  
  .mrc-text-1 {
      color: #252525;
      font-size: 9pt;
  }

  .mrc-button {
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
		background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
		background-color:#ffffff;
		border:1px solid #dcdcdc;
		display:inline-block;
		cursor:pointer;
		color:#666666;
		font-size:9pt;
		padding:4px 12px;
		text-decoration:none;
	}
	.mrc-button:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
		background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
		background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
		background-color:#f6f6f6;
	}
	.mrc-button:active {
		position:relative;
		top:1px;
	}

	.mrc-dialog-title {
		font-size: 9pt;
    margin-left: 4px;
	}

	.mrc-dialog-separator {
		background-color: #b0b0b0;
    height: 1px;
    width: calc(100% - 16px);
    margin: 8px 0 8px 8px;
	}

	.mrc-textbox-error {
		border: solid 1px #ff1919;
	}

	.mrc-menu-icon {
		font-size: 14pt;
		margin: 7px 6px 0 0;
	}

	.mrc-menu-title {
		margin-bottom: -8px;
	}

	.mrc-menu-selected {
		color: #136da5;
	}

	.mrc-page-title {
		color: rgba(0,0,0,.87);
		font-size: 19pt;
		height: 29px;
    margin: 22px 8px 8px 22px;
	}

	.mrc-page-subtitle {
		color: rgba(0,0,0,.87);
		font-size: 9pt;
		margin: 0 0 8px 22px;
		text-transform: uppercase;
	}

	.mrc-page-commands {
		font-size: 9pt;
		margin: 22px 0 0 42px;
		text-transform: uppercase;

		> label {
			background-color: #29ca96;
			border-radius: 8px;
    	color: white;
			cursor: pointer;
			padding: 4px;
		}
		
		> label:hover {
			background-color: #69d9b5;
		}
	}

	.mrc-toggle-unit {
    .mat-button-toggle {
      height: 20px;

      .mat-button-toggle-label-content {
        line-height: 20px;
      }
    }
	}
	
	#mrc-chips-list {
		display: inline;
		
		> label {
			border-radius: 17px;
			cursor: pointer;
			display: inline-flex;
			margin: 4px 8px 0 0;
			padding: 8px;
			text-align: center;
		}
	
		.mrc-chip-selected {
			-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
		}
	}
}