.mrc-global {
  .mat-button-toggle {
    height: 30px;

    .mat-button-toggle-label-content {
      font-size: 9pt;
      line-height: 30px;
    }
  }

  .mat-checkbox {
    font-size: 9pt;

    .mat-checkbox-inner-container {
      height: 15px;
      width: 15px;

      .mat-checkbox-background {
        background-color: white;
        border: solid 1px #b0b0b0;

        .mat-checkbox-checkmark {
          &-path {
            stroke: #298dca!important;
          }
        }

        .mat-checkbox-mixedmark {
          background-color: #298dca;
        }
      }
    }

    .mat-checkbox-label {
      line-height: 20px;
      height: 19px;
    }
  }

	.mat-menu-content {
    padding: 0;

    .mat-menu-item {
      font-size: 9pt;
      display: flex;
      height: 35px;
      line-height: 35px;
      padding: 0 8px;
    }
  }

  .mat-form-field {
    input {
      border: none
    }

    &-label {
      color: #343434;
      font-size: 12pt;
    }

    .mat-focused .mat-form-field-label {
      color: #298dca !important;
    }
      
    .mat-form-field-ripple {
      background-color: #298dca !important;
    }
  }

  .mat-form-field-invalid {
    .mat-form-field-ripple {
      background-color: #f44366 !important;
    }
  }

  .mat-table {
    box-shadow: none;
    
    .mat-cell,
    .mat-header-cell {
      font-size: 9pt;      
      font-family: 'Segoe UI';
    }

    .mat-cell:first-of-type,
    .mat-header-cell:first-of-type {
      padding-left: 16px;
    }

    .mat-row, 
    .mat-header-row {
      height: 28px;
      min-height: 28px;
    }

    // TODO: move to components scss
    // .mat-row:hover {
    //   background-color: #efefef;
    //   cursor: pointer;
    // }
  }

  .mat-dialog-container {
    padding: 12px; 

    .mat-dialog-actions {
      margin-bottom: -12px;
      min-height: 0;
    }
  }

  .mat-button {
    font-family: 'Segoe UI';
    font-size: 9pt;
    background-color: #e5e5e5;
    height: 30px;
    line-height: 30px;
  }

  // .mat-form-field {

  //   &-label {
  //     display: none;
  //   }

  //   .mat-form-field-wrapper {
  //     padding: 0;

  //     .mat-form-field-infix {
  //       border-top: none;
  //       padding: 0;
  //     }
  //   }

  //   .mat-form-field-underline {
  //     background-color: transparent;

  //     .mat-form-field-ripple {
  //       background-color: transparent;
  //     }
  //   }
  // }

  .mat-tab-header {
    .mat-tab-label {
      font-size: 9pt;
      font-weight: 400;
      height: 25px;
      min-width: 25px !important;
      opacity: 1;
      padding: 8px;
    }
  }

  .mat-tab-group {
    height: 100%;
    
    .mat-ink-bar {
      background-color: #298dca;
    }
  }

  .mat-tab-body {
    margin-top: 8px;
  }

  .mat-expansion-panel {
    box-shadow: none;

    &-header.mat-expanded {
      font-weight: bold;
    }

    &-header {
      font-size: 9pt;
      padding: 0 8px;

      &-description {
        flex: 0 0 auto;
        margin-right: 32px; 
      }
      // font-weight: 400;
      // flex-direction: row-reverse; // this will set the pointer on the front

      // &.mat-expanded {
      //   .mat-expansion-indicator::after {
      //     transform: rotate(-90deg);
      //   }
      // }

      // .mat-expansion-indicator::after {
      //   // unset material default arrow
      //   border-style: none;
      //   border-width: unset;
      //   padding: 0px;
      //   transform: none;
      //   vertical-align: unset;

      //   font-size: 9pt;
      //   font-weight: 600;
      // }
    }

    &-body {
      padding: 0 0 16px;
    }

    .mat-header-cell {
      color: #9e9e9e;
    }
  }

  .mat-list {
    .mat-list-item {
      font-size: 9pt;
      height: 28px;
      line-height: 12px;
      max-height: 28px;
    }
  }

  .mat-radio-button {

    .mat-radio-container {
      width: 15px;
      height: 15px;

      .mat-radio-outer-circle,
      .mat-radio-inner-circle {
        width: 15px;
        height: 15px;
      }
    }

    .mat-radio-label {
      margin-right: 8px;
    }

    .mat-radio-inner-circle {
      background-color: #298dca;
    }

    .mat-radio-ripple {
      display: none;
    }
  }

  .mat-radio-button.mat-accent.mat-radio-checked {

    .mat-radio-outer-circle {
      border-color: #298dca;
    }
  }

  .mat-select {
    font-size: 9pt;
  }

  .mat-select-panel {

    .mat-option {
      font-size: 9pt;
      height: 24px;
      line-height: 24px;
    }
  }
}