.mrc-global {
	.mat-menu-content {
    padding: 0;

    .mat-menu-item {
      font-size: 9pt;
      height: 30px;
      line-height: 30px;
      padding: 0 8px;
    }
  }

  .mat-table {
    box-shadow: none;
    
    .mat-cell,
    .mat-header-cell {
      font-family: Arial;
      font-size: 9pt;
    }

    .mat-row, 
    .mat-header-row {
      height: 28px;
      min-height: 28px;
    }
  }

  .mat-dialog-container {
    padding: 12px; 

    .mat-dialog-actions {
      margin-bottom: -12px;
    }
  }
}