.mrc-global input, .mrc-global textarea, .mrc-global select {
  padding: 0px 4px;
  box-sizing: border-box;
  height: 20px;
  font-family: 'Segoe UI', sans-serif, 'Arial', Tahoma, Geneva, Verdana;
  font-size: 9pt;
  border: solid 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-color: #b0b0b0;
}

.mrc-global label {
  font-family: 'Segoe UI', sans-serif, 'Arial', Tahoma, Geneva, Verdana;
  font-size: 9pt;
}

.mrc-global input:-moz-read-only {
  background-color: #e7e7e7;
  color: #343434;
}

.mrc-global input:read-only {
  background-color: #e7e7e7;
  color: #343434;
}

.mrc-global h1 {
  color: #252525;
  font-size: 12pt;
}

.mrc-global .mrc-text-1 {
  color: #252525;
  font-size: 9pt;
}

.mrc-global .mrc-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 9pt;
  padding: 4px 12px;
  text-decoration: none;
}

.mrc-global .mrc-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
  background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
  background-color: #f6f6f6;
}

.mrc-global .mrc-button:active {
  position: relative;
  top: 1px;
}

.mrc-global .mrc-dialog-title {
  font-size: 9pt;
  margin-left: 4px;
}

.mrc-global .mrc-dialog-separator {
  background-color: #b0b0b0;
  height: 1px;
  width: calc(100% - 16px);
  margin: 8px 0 8px 8px;
}

.mrc-global .mrc-textbox-error {
  border: solid 1px #ff1919;
}

.mrc-global .mrc-menu-icon {
  font-size: 14pt;
  margin: 7px 6px 0 0;
}

.mrc-global .mrc-menu-title {
  margin-bottom: -8px;
}

.mrc-global .mrc-menu-selected {
  color: #136da5;
}

.mrc-global .mrc-page-title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 19pt;
  height: 29px;
  margin: 22px 8px 8px 22px;
}

.mrc-global .mrc-page-subtitle {
  color: rgba(0, 0, 0, 0.87);
  font-size: 9pt;
  margin: 0 0 8px 22px;
  text-transform: uppercase;
}

.mrc-global .mrc-page-commands {
  font-size: 9pt;
  margin: 22px 0 0 42px;
  text-transform: uppercase;
}

.mrc-global .mrc-page-commands > label {
  background-color: #29ca96;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  padding: 4px;
}

.mrc-global .mrc-page-commands > label:hover {
  background-color: #69d9b5;
}

.mrc-global .mrc-toggle-unit .mat-button-toggle {
  height: 20px;
}

.mrc-global .mrc-toggle-unit .mat-button-toggle .mat-button-toggle-label-content {
  line-height: 20px;
}

.mrc-global #mrc-chips-list {
  display: inline;
}

.mrc-global #mrc-chips-list > label {
  border-radius: 17px;
  cursor: pointer;
  display: inline-flex;
  margin: 4px 8px 0 0;
  padding: 8px;
  text-align: center;
}

.mrc-global #mrc-chips-list .mrc-chip-selected {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

.mrc-global dp-date-picker.dp-material .dp-picker-input {
  font-size: 9pt;
  height: 20px;
}

.mrc-global .mat-button-toggle {
  height: 30px;
}

.mrc-global .mat-button-toggle .mat-button-toggle-label-content {
  font-size: 9pt;
  line-height: 30px;
}

.mrc-global .mat-checkbox {
  font-size: 9pt;
}

.mrc-global .mat-checkbox .mat-checkbox-inner-container {
  height: 15px;
  width: 15px;
}

.mrc-global .mat-checkbox .mat-checkbox-inner-container .mat-checkbox-background {
  background-color: white;
  border: solid 1px #b0b0b0;
}

.mrc-global .mat-checkbox .mat-checkbox-inner-container .mat-checkbox-background .mat-checkbox-checkmark-path {
  stroke: #298dca !important;
}

.mrc-global .mat-checkbox .mat-checkbox-inner-container .mat-checkbox-background .mat-checkbox-mixedmark {
  background-color: #298dca;
}

.mrc-global .mat-checkbox .mat-checkbox-label {
  line-height: 20px;
  height: 19px;
}

.mrc-global .mat-menu-content {
  padding: 0;
}

.mrc-global .mat-menu-content .mat-menu-item {
  font-size: 9pt;
  display: flex;
  height: 35px;
  line-height: 35px;
  padding: 0 8px;
}

.mrc-global .mat-form-field input {
  border: none;
}

.mrc-global .mat-form-field .mat-form-field-label {
  color: #343434;
  font-size: 12pt;
}

.mrc-global .mat-form-field .mat-focused .mat-form-field-label {
  color: #298dca !important;
}

.mrc-global .mat-form-field .mat-form-field-ripple {
  background-color: #298dca !important;
}

.mrc-global .mat-form-field-invalid .mat-form-field-ripple {
  background-color: #f44366 !important;
}

.mrc-global .mat-table {
  box-shadow: none;
}

.mrc-global .mat-table .mat-cell,
.mrc-global .mat-table .mat-header-cell {
  font-size: 9pt;
  font-family: 'Segoe UI';
}

.mrc-global .mat-table .mat-cell:first-of-type,
.mrc-global .mat-table .mat-header-cell:first-of-type {
  padding-left: 16px;
}

.mrc-global .mat-table .mat-row,
.mrc-global .mat-table .mat-header-row {
  height: 28px;
  min-height: 28px;
}

.mrc-global .mat-dialog-container {
  padding: 12px;
}

.mrc-global .mat-dialog-container .mat-dialog-actions {
  margin-bottom: -12px;
  min-height: 0;
}

.mrc-global .mat-button {
  font-family: 'Segoe UI';
  font-size: 9pt;
  background-color: #e5e5e5;
  height: 30px;
  line-height: 30px;
}

.mrc-global .mat-tab-header .mat-tab-label {
  font-size: 9pt;
  font-weight: 400;
  height: 25px;
  min-width: 25px !important;
  opacity: 1;
  padding: 8px;
}

.mrc-global .mat-tab-group {
  height: 100%;
}

.mrc-global .mat-tab-group .mat-ink-bar {
  background-color: #298dca;
}

.mrc-global .mat-tab-body {
  margin-top: 8px;
}

.mrc-global .mat-expansion-panel {
  box-shadow: none;
}

.mrc-global .mat-expansion-panel-header.mat-expanded {
  font-weight: bold;
}

.mrc-global .mat-expansion-panel-header {
  font-size: 9pt;
  padding: 0 8px;
}

.mrc-global .mat-expansion-panel-header-description {
  flex: 0 0 auto;
  margin-right: 32px;
}

.mrc-global .mat-expansion-panel-body {
  padding: 0 0 16px;
}

.mrc-global .mat-expansion-panel .mat-header-cell {
  color: #9e9e9e;
}

.mrc-global .mat-list .mat-list-item {
  font-size: 9pt;
  height: 28px;
  line-height: 12px;
  max-height: 28px;
}

.mrc-global .mat-radio-button .mat-radio-container {
  width: 15px;
  height: 15px;
}

.mrc-global .mat-radio-button .mat-radio-container .mat-radio-outer-circle,
.mrc-global .mat-radio-button .mat-radio-container .mat-radio-inner-circle {
  width: 15px;
  height: 15px;
}

.mrc-global .mat-radio-button .mat-radio-label {
  margin-right: 8px;
}

.mrc-global .mat-radio-button .mat-radio-inner-circle {
  background-color: #298dca;
}

.mrc-global .mat-radio-button .mat-radio-ripple {
  display: none;
}

.mrc-global .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #298dca;
}

.mrc-global .mat-select {
  font-size: 9pt;
}

.mrc-global .mat-select-panel .mat-option {
  font-size: 9pt;
  height: 24px;
  line-height: 24px;
}

/**
 * Applies styles for users in high contrast mode. Note that this only applies
 * to Microsoft browsers. Chrome can be included by checking for the `html[hc]`
 * attribute, however Chrome handles high contrast differently.
 * @param target Which kind of high contrast setting to target. Defaults to `active`, can be
 *    `white-on-black` or `black-on-white`.
 */
/* Theme for the ripple elements.*/
/* stylelint-disable material/no-prefixes */
/* stylelint-enable */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI';
  letter-spacing: 0.5px;
}

.mat-badge-content {
  font-weight: 600;
  font-size: 12px;
  font-family: Segoe UI;
}

.mat-badge-small .mat-badge-content {
  font-size: 6px;
}

.mat-badge-large .mat-badge-content {
  font-size: 24px;
}

.mat-h1, .mat-headline, .mat-typography h1 {
  font: 400 24px/32px Segoe UI;
  margin: 0 0 16px;
}

.mat-h2, .mat-title, .mat-typography h2 {
  font: 500 20px/32px Segoe UI;
  margin: 0 0 16px;
}

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  font: 400 16px/28px Segoe UI;
  margin: 0 0 16px;
}

.mat-h4, .mat-subheading-1, .mat-typography h4 {
  font: 400 15px/24px Segoe UI;
  margin: 0 0 16px;
}

.mat-h5, .mat-typography h5 {
  font: 400 11.62px/20px Segoe UI;
  margin: 0 0 12px;
}

.mat-h6, .mat-typography h6 {
  font: 400 9.38px/20px Segoe UI;
  margin: 0 0 12px;
}

.mat-body-strong, .mat-body-2 {
  font: 500 14px/24px Segoe UI;
}

.mat-body, .mat-body-1, .mat-typography {
  font: 400 14px/20px Segoe UI;
}

.mat-body p, .mat-body-1 p, .mat-typography p {
  margin: 0 0 12px;
}

.mat-small, .mat-caption {
  font: 400 12px/20px Segoe UI;
}

.mat-display-4, .mat-typography .mat-display-4 {
  font: 300 112px/112px Segoe UI;
  margin: 0 0 56px;
  letter-spacing: -0.05em;
}

.mat-display-3, .mat-typography .mat-display-3 {
  font: 400 56px/56px Segoe UI;
  margin: 0 0 64px;
  letter-spacing: -0.02em;
}

.mat-display-2, .mat-typography .mat-display-2 {
  font: 400 45px/48px Segoe UI;
  margin: 0 0 64px;
  letter-spacing: -0.005em;
}

.mat-display-1, .mat-typography .mat-display-1 {
  font: 400 34px/40px Segoe UI;
  margin: 0 0 64px;
}

.mat-bottom-sheet-container {
  font: 400 14px/20px Segoe UI;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button,
.mat-flat-button, .mat-fab, .mat-mini-fab {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 500;
}

.mat-button-toggle {
  font-family: Segoe UI;
}

.mat-card {
  font-family: Segoe UI;
}

.mat-card-title {
  font-size: 24px;
  font-weight: 500;
}

.mat-card-header .mat-card-title {
  font-size: 20px;
}

.mat-card-subtitle,
.mat-card-content {
  font-size: 14px;
}

.mat-checkbox {
  font-family: Segoe UI;
}

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
}

.mat-chip {
  font-size: 14px;
  font-weight: 500;
}

.mat-chip .mat-chip-trailing-icon.mat-icon,
.mat-chip .mat-chip-remove.mat-icon {
  font-size: 18px;
}

.mat-table {
  font-family: Segoe UI;
}

.mat-header-cell {
  font-size: 12px;
  font-weight: 500;
}

.mat-cell, .mat-footer-cell {
  font-size: 14px;
}

.mat-calendar {
  font-family: Segoe UI;
}

.mat-calendar-body {
  font-size: 13px;
}

.mat-calendar-body-label,
.mat-calendar-period-button {
  font-size: 14px;
  font-weight: 500;
}

.mat-calendar-table-header th {
  font-size: 11px;
  font-weight: 400;
}

.mat-dialog-title {
  font: 500 20px/32px Segoe UI;
}

.mat-expansion-panel-header {
  font-family: Segoe UI;
  font-size: 15px;
  font-weight: 400;
}

.mat-expansion-panel-content {
  font: 400 14px/20px Segoe UI;
}

.mat-form-field {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Segoe UI;
}

.mat-form-field-wrapper {
  padding-bottom: 1.34375em;
}

.mat-form-field-prefix .mat-icon,
.mat-form-field-suffix .mat-icon {
  font-size: 150%;
  line-height: 1.125;
}

.mat-form-field-prefix .mat-icon-button,
.mat-form-field-suffix .mat-icon-button {
  height: 1.5em;
  width: 1.5em;
}

.mat-form-field-prefix .mat-icon-button .mat-icon,
.mat-form-field-suffix .mat-icon-button .mat-icon {
  height: 1.125em;
  line-height: 1.125;
}

.mat-form-field-infix {
  padding: 0.5em 0;
  border-top: 0.84375em solid transparent;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.34375em) scale(0.75);
  width: 133.33333%;
}

.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
.mat-form-field-label {
  transform: translateY(-1.34374em) scale(0.75);
  width: 133.33334%;
}

.mat-form-field-label-wrapper {
  top: -0.84375em;
  padding-top: 0.84375em;
}

.mat-form-field-label {
  top: 1.34375em;
}

.mat-form-field-underline {
  bottom: 1.34375em;
}

.mat-form-field-subscript-wrapper {
  font-size: 75%;
  margin-top: 0.66667em;
  top: calc(100% - 1.79167em);
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 1.25em;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.4375em 0;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px);
  -ms-transform: translateY(-1.28125em) scale(0.75);
  width: 133.33333%;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill + .mat-form-field-label-wrapper
.mat-form-field-label {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.00101px);
  -ms-transform: translateY(-1.28124em) scale(0.75);
  width: 133.33334%;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
.mat-form-field-label {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.00102px);
  -ms-transform: translateY(-1.28123em) scale(0.75);
  width: 133.33335%;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 1.28125em;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  bottom: 1.25em;
}

.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  margin-top: 0.54167em;
  top: calc(100% - 1.66667em);
}

@media print {
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
  .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.28122em) scale(0.75);
  }
  .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill + .mat-form-field-label-wrapper
.mat-form-field-label {
    transform: translateY(-1.28121em) scale(0.75);
  }
  .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
.mat-form-field-label {
    transform: translateY(-1.2812em) scale(0.75);
  }
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.25em 0 0.75em 0;
}

.mat-form-field-appearance-fill .mat-form-field-label {
  top: 1.09375em;
  margin-top: -0.5em;
}

.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-fill.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-0.59375em) scale(0.75);
  width: 133.33333%;
}

.mat-form-field-appearance-fill.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
.mat-form-field-label {
  transform: translateY(-0.59374em) scale(0.75);
  width: 133.33334%;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1em 0;
}

.mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.84375em;
  margin-top: -0.25em;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1.59375em) scale(0.75);
  width: 133.33333%;
}

.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
.mat-form-field-label {
  transform: translateY(-1.59374em) scale(0.75);
  width: 133.33334%;
}

.mat-grid-tile-header,
.mat-grid-tile-footer {
  font-size: 14px;
}

.mat-grid-tile-header .mat-line,
.mat-grid-tile-footer .mat-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

.mat-grid-tile-header .mat-line:nth-child(n+2),
.mat-grid-tile-footer .mat-line:nth-child(n+2) {
  font-size: 12px;
}

input.mat-input-element {
  margin-top: -0.0625em;
}

.mat-menu-item {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  font-family: Segoe UI;
  font-size: 12px;
}

.mat-radio-button {
  font-family: Segoe UI;
}

.mat-select {
  font-family: Segoe UI;
}

.mat-select-trigger {
  height: 1.125em;
}

.mat-slide-toggle-content {
  font-family: Segoe UI;
}

.mat-slider-thumb-label-text {
  font-family: Segoe UI;
  font-size: 12px;
  font-weight: 500;
}

.mat-stepper-vertical, .mat-stepper-horizontal {
  font-family: Segoe UI;
}

.mat-step-label {
  font-size: 14px;
  font-weight: 400;
}

.mat-step-sub-label-error {
  font-weight: normal;
}

.mat-step-label-error {
  font-size: 14px;
}

.mat-step-label-selected {
  font-size: 14px;
  font-weight: 500;
}

.mat-tab-group {
  font-family: Segoe UI;
}

.mat-tab-label, .mat-tab-link {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 500;
}

.mat-toolbar,
.mat-toolbar h1,
.mat-toolbar h2,
.mat-toolbar h3,
.mat-toolbar h4,
.mat-toolbar h5,
.mat-toolbar h6 {
  font: 500 20px/32px Segoe UI;
  margin: 0;
}

.mat-tooltip {
  font-family: Segoe UI;
  font-size: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.mat-tooltip-handset {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.mat-list-item {
  font-family: Segoe UI;
}

.mat-list-option {
  font-family: Segoe UI;
}

.mat-list-base .mat-list-item {
  font-size: 16px;
}

.mat-list-base .mat-list-item .mat-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

.mat-list-base .mat-list-item .mat-line:nth-child(n+2) {
  font-size: 14px;
}

.mat-list-base .mat-list-option {
  font-size: 16px;
}

.mat-list-base .mat-list-option .mat-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

.mat-list-base .mat-list-option .mat-line:nth-child(n+2) {
  font-size: 14px;
}

.mat-list-base .mat-subheader {
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 500;
}

.mat-list-base[dense] .mat-list-item {
  font-size: 12px;
}

.mat-list-base[dense] .mat-list-item .mat-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

.mat-list-base[dense] .mat-list-item .mat-line:nth-child(n+2) {
  font-size: 12px;
}

.mat-list-base[dense] .mat-list-option {
  font-size: 12px;
}

.mat-list-base[dense] .mat-list-option .mat-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

.mat-list-base[dense] .mat-list-option .mat-line:nth-child(n+2) {
  font-size: 12px;
}

.mat-list-base[dense] .mat-subheader {
  font-family: Segoe UI;
  font-size: 12px;
  font-weight: 500;
}

.mat-option {
  font-family: Segoe UI;
  font-size: 16px;
}

.mat-optgroup-label {
  font: 500 14px/24px Segoe UI;
}

.mat-simple-snackbar {
  font-family: Segoe UI;
  font-size: 14px;
}

.mat-simple-snackbar-action {
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
}

.mat-tree {
  font-family: Segoe UI;
}

.mat-tree-node,
.mat-nested-tree-node {
  font-weight: 400;
  font-size: 14px;
}
