<div>
  <div class="mrc-page-title">Anamneses</div>
  <div class="mrc-page-subtitle" *ngIf="isNew; else elseBlock">Adicionar anamnese</div>
  <ng-template #elseBlock>
    <div class="mrc-page-subtitle">Editar anamnese</div>
  </ng-template>
</div>
<div id="page-anamneses-edit-content">
  <progress-spinner [progress]="loading">

    <div id="page-anamneses-edit-content-column">
      <div id="page-anamneses-edit-content-item">
        <label>Caso clínico</label>
        <textarea [value]="anamnase?.clinicCase" (change)="anamnase.clinicCase = boxClinicCase.value" #boxClinicCase></textarea>
      </div>
      <div id="page-anamneses-edit-content-item">
        <label>Data</label>
        <input>
      </div>
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
        <mat-panel-title>Hábitos de Vida</mat-panel-title>
      </mat-expansion-panel-header>
      <div id="page-anamneses-edit-content-item">
        <label>Restrição alimentar</label>
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle value="no">Não</mat-button-toggle>
          <mat-button-toggle value="vegetarian">Vegetariano</mat-button-toggle>
          <mat-button-toggle value="vegan">Vegano</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div id="page-anamneses-edit-content-item">
        <mat-checkbox disableRipple="true">Refeições fora de casa</mat-checkbox>
      </div>
  
    </mat-expansion-panel>
  

  </progress-spinner>
</div>
<div id="mrc-edit-page-footer">
  <div class="mrc-dialog-separator"></div>
  <!-- TODO -->
  <!-- <div *ngFor="let msg of errorList" class="mrc-edit-page-error">{{ msg }}</div> -->
  <!-- END TODO -->
  <div id="mrc-edit-page-footer-buttons">
    <button mat-button [disabled]="!dirty" (click)="on_apply_clicked()">Aplicar</button>
    <button mat-button (click)="on_cancel_clicked()">Cancelar</button>
  </div>
</div>