page-anamneses-edit {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
}

page-anamneses-edit .mrc-page-subtitle {
  display: flex;
}

page-anamneses-edit .mrc-page-subtitle > div {
  margin-right: 16px;
}

page-anamneses-edit #page-anamneses-edit-content {
  flex: 1;
  overflow: auto;
  margin-top: 8px;
}

page-anamneses-edit #page-anamneses-edit-content .mat-expansion-panel {
  max-width: 860px;
}

page-anamneses-edit #page-anamneses-edit-content-column {
  display: inline-block;
  vertical-align: top;
}

page-anamneses-edit #page-anamneses-edit-content-column-item {
  display: inline;
}

page-anamneses-edit #page-anamneses-edit-content-column-item > #page-anamneses-edit-content-item {
  margin-left: 0;
}

page-anamneses-edit #page-anamneses-edit-content-column-item > .page-anamneses-edit-content-item-last-child {
  margin-bottom: 0;
}

page-anamneses-edit #page-anamneses-edit-content-column .column-item-spacing {
  margin-right: 16px;
}

page-anamneses-edit .column-margin {
  margin-left: 22px;
}

page-anamneses-edit #page-anamneses-edit-content-group {
  margin: 0 0 16px 22px;
  font-size: 9pt;
}

page-anamneses-edit #page-anamneses-edit-content-group > div {
  background-color: #f7f7f7;
  margin: 0;
  padding: 8px;
}

page-anamneses-edit #page-anamneses-edit-content-group > div > div {
  margin: 0 8px 8px 0;
}

page-anamneses-edit #page-anamneses-edit-content-item {
  display: flex;
  flex-direction: column;
  margin: 0 16px 16px 22px;
}

page-anamneses-edit #page-anamneses-edit-content-item > label {
  font-size: 9pt;
  margin-bottom: 4px;
}

page-anamneses-edit #page-anamneses-edit-content-item > textarea {
  height: 80px;
  width: 300px;
}

page-anamneses-edit #mrc-edit-page-footer .mrc-edit-page-error {
  color: #ef1508;
  font-size: 9pt;
  margin: 0 0 4px 22px;
}

page-anamneses-edit #mrc-edit-page-footer-buttons {
  margin: 8px 0 0 22px;
}

page-anamneses-edit #mrc-edit-page-footer-buttons > button {
  margin: 0 8px 8px 0;
  width: 85px;
}
