page-anamneses-edit {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
}

page-anamneses-edit .mrc-page-subtitle {
  display: flex;
}

page-anamneses-edit .mrc-page-subtitle > div {
  margin-right: 16px;
}

page-anamneses-edit #page-anamneses-edit-content {
  flex: 1;
  overflow: auto;
  margin-top: 8px;
}

page-anamneses-edit #page-anamneses-edit-content-column {
  display: flex;
}

page-anamneses-edit #page-anamneses-edit-content-column-item {
  width: 334px;
}

page-anamneses-edit #page-anamneses-edit-content-item {
  display: flex;
  flex-direction: column;
  margin: 0 0 8px 22px;
}

page-anamneses-edit #page-anamneses-edit-content-item > label {
  font-size: 9pt;
  margin-bottom: 4px;
}

page-anamneses-edit #page-anamneses-edit-content-item > textarea {
  height: 80px;
  width: 300px;
}

page-anamneses-edit #page-anamneses-edit-content-item > .mat-button-toggle-group {
  width: 201px;
}

page-anamneses-edit #page-anamneses-edit-content-group {
  margin-left: 22px;
  font-size: 9pt;
}

page-anamneses-edit #page-anamneses-edit-content-group > div {
  background-color: #e9f3f9;
}

page-anamneses-edit #mrc-edit-page-footer .mrc-edit-page-error {
  color: #ef1508;
  font-size: 9pt;
  margin: 0 0 4px 22px;
}

page-anamneses-edit #mrc-edit-page-footer-buttons {
  margin: 8px 0 0 22px;
}

page-anamneses-edit #mrc-edit-page-footer-buttons > button {
  margin: 0 8px 8px 0;
  width: 85px;
}
