page-anamneses-edit {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
  
  .mrc-page-subtitle {
    display: flex;

    > div {
      margin-right: 16px;
    }
  }

  .mrc-input {
    width: 400px
  }

  //TODO: mover para mrc-global
  .mrc-toggle-unit {
    .mat-button-toggle {
      height: 20px;

      .mat-button-toggle-label-content {
        line-height: 22px;
      }
    }
  }

  #page-anamneses-edit-content {
    flex: 1;
    overflow: auto;
    margin-top: 8px;

    .mat-expansion-panel {
      max-width: 860px;
    }
  }

  #page-anamneses-edit-content-column {
    display: inline-block;
    vertical-align: top;

    &-item {
      display: inline;
      // margin: 0;

      > #page-anamneses-edit-content-item {
        margin-left: 0;
      }

      > .page-anamneses-edit-content-item-last-child {
        margin-bottom: 0;
      }
    }

    .column-item-spacing {
      margin-right: 16px;
    }
  }

  .column-margin {
    margin: 0 0 22px 22px;
  }

  #page-anamneses-edit-content-group {
    margin: 0 0 16px 22px;
    font-size: 9pt;

    > div {
      background-color: #f7f7f7;
      margin: 0;
      padding: 8px;

      > div {
        margin: 0 8px 16px 0;
      }
    }
  }

  #page-anamneses-edit-content-item {
    display: flex;
    flex-direction: column;
    margin: 0 16px 16px 22px;

    > label {
      font-size: 9pt;
      margin-bottom: 4px;
    }  

    > textarea {
      height: 80px;
      width: 300px;
    }

    &-description {
      font-size: 8pt;
    }
  }

  #mrc-edit-page-footer {

    .mrc-edit-page-error {
      color: #ef1508;
      font-size: 9pt;
      margin: 0 0 4px 22px;
    }

    &-buttons {
      margin: 8px 0 0 22px;
      
      > button {
        margin: 0 8px 8px 0;
        width: 85px;
      }
    }
  }
}

#mrc-face-format-select-option {
  display: flex;

  > img {
    height: 39px;
    width: 64px;
    margin-right: 4px;
  }

  > label {
    align-items: center;
    line-height: 39px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

//TODO: move to global
#mrc-chips-list {
  margin-top: 4px;
  
  > label {
    border-radius: 17px;
    cursor: pointer;
    margin-right: 8px;
    padding: 8px;
    text-align: center;
  }

  .mrc-chip-selected {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
  }
}