page-anamneses-edit {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
}

page-anamneses-edit .mrc-page-subtitle {
  display: flex;
}

page-anamneses-edit .mrc-page-subtitle > div {
  margin-right: 16px;
}

page-anamneses-edit .mrc-input {
  max-width: 400px;
}

page-anamneses-edit .mrc-input-2 {
  max-width: 300px;
}

page-anamneses-edit #page-anamneses-edit-content {
  flex: 1;
  overflow: auto;
  margin-top: 8px;
}

page-anamneses-edit #page-anamneses-edit-content .page-anamneses-edit-content-item {
  display: flex;
  flex-direction: column;
  margin: 0 16px 16px 22px;
}

page-anamneses-edit #page-anamneses-edit-content .page-anamneses-edit-content-item > label {
  font-size: 9pt;
  margin-bottom: 4px;
}

page-anamneses-edit #page-anamneses-edit-content .page-anamneses-edit-content-item > textarea {
  height: 80px;
  width: 300px;
}

page-anamneses-edit #page-anamneses-edit-content .page-anamneses-edit-content-item-description {
  font-size: 8pt;
  line-height: 14px;
  margin-top: 8px;
}

page-anamneses-edit #page-anamneses-edit-content .mat-expansion-panel {
  max-width: 860px;
}

> page-anamneses-edit #page-anamneses-edit-content .mat-expansion-panel-header {
  padding: 0 22px;
}

page-anamneses-edit #page-anamneses-edit-content .icon-calendar-picker {
  background-color: white;
  cursor: pointer;
  font-size: 10pt;
  margin-left: -16px;
  position: relative;
}

page-anamneses-edit #page-anamneses-edit-content-column {
  display: inline-block;
  vertical-align: top;
}

page-anamneses-edit #page-anamneses-edit-content-column-item {
  display: inline;
}

page-anamneses-edit #page-anamneses-edit-content-column-item > #page-anamneses-edit-content-item {
  margin-left: 0;
}

page-anamneses-edit #page-anamneses-edit-content-column-item > .page-anamneses-edit-content-item-last-child {
  margin-bottom: 0;
}

page-anamneses-edit #page-anamneses-edit-content-column .column-item-spacing {
  margin-right: 16px;
}

page-anamneses-edit .column-margin {
  margin: 0 0 22px 22px;
}

page-anamneses-edit .metabolic-tracking-score {
  font-weight: bold;
  margin-left: 4px;
}

page-anamneses-edit .metabolic-tracking-score-description {
  padding: 4px;
}

page-anamneses-edit #page-anamneses-edit-content-group {
  margin: 0 0 16px 22px;
  font-size: 9pt;
}

page-anamneses-edit #page-anamneses-edit-content-group > div {
  background-color: #f7f7f7;
  margin: 0;
  padding: 8px;
}

page-anamneses-edit #page-anamneses-edit-content-group > div > div {
  margin: 0 8px 16px 0;
}

page-anamneses-edit #page-anamneses-edit-content-group > div > .mrc-bottom-0 {
  margin-bottom: 0;
}

page-anamneses-edit #page-anamneses-edit-content-group > div .mrc-left-0 {
  margin-left: 0;
}

page-anamneses-edit #mrc-edit-page-footer .mrc-edit-page-error {
  color: #ef1508;
  font-size: 9pt;
  margin: 0 0 4px 22px;
}

page-anamneses-edit #mrc-edit-page-footer-buttons {
  margin: 8px 0 8px 22px;
}

page-anamneses-edit #mrc-edit-page-footer-buttons > button {
  margin: 0 8px 0 0;
  width: 85px;
}

#mrc-face-format-select-option {
  display: flex;
}

#mrc-face-format-select-option > img {
  height: 39px;
  width: 64px;
  margin-right: 4px;
}

#mrc-face-format-select-option > label {
  align-items: center;
  line-height: 39px;
  overflow: hidden;
  text-overflow: ellipsis;
}
