page-anamneses-edit {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
  
  .mrc-page-subtitle {
    display: flex;

    > div {
      margin-right: 16px;
    }
  }

  .mrc-input {
    max-width: 400px
  }

  .mrc-input-2 {
    max-width: 300px;
  }

  #page-anamneses-edit-content {
    flex: 1;
    overflow: auto;
    margin-top: 8px;

    .page-anamneses-edit-content-item {
      display: flex;
      flex-direction: column;
      margin: 0 16px 16px 22px;
  
      > label {
        font-size: 9pt;
        margin-bottom: 4px;
      }  
  
      > textarea {
        height: 80px;
        width: 300px;
      }
  
      &-description {
        font-size: 8pt;
        line-height: 14px;
        margin-top: 8px;
      }
    }

    .mat-expansion-panel {
      max-width: 860px;

      > &-header {
        padding: 0 22px;
      }
    }

    .icon-calendar-picker {
      background-color: white;
      cursor: pointer;
      font-size: 10pt;
      margin-left: -16px;
      position: relative;
    }
  }

  #page-anamneses-edit-content-column {
    display: inline-block;
    vertical-align: top;

    &-item {
      display: inline;
      // margin: 0;

      > #page-anamneses-edit-content-item {
        margin-left: 0;
      }

      > .page-anamneses-edit-content-item-last-child {
        margin-bottom: 0;
      }
    }

    .column-item-spacing {
      margin-right: 16px;
    }
  }

  .column-margin {
    margin: 0 0 22px 22px;
  }

  .metabolic-tracking-score {
    font-weight: bold;
    margin-left: 4px;
  }

  .metabolic-tracking-score-description {
    padding: 4px;
  }

  #page-anamneses-edit-content-group {
    margin: 0 0 16px 22px;
    font-size: 9pt;

    > div {
      background-color: #f7f7f7;
      margin: 0;
      padding: 8px;

      > div {
        margin: 0 8px 16px 0;
      }

      > .mrc-bottom-0 {
        margin-bottom: 0;
      }

      .mrc-left-0 {
        margin-left: 0;
      }
    }
  }

  #mrc-edit-page-footer {

    .mrc-edit-page-error {
      color: #ef1508;
      font-size: 9pt;
      margin: 0 0 4px 22px;
    }

    &-buttons {
      margin: 8px 0 8px 22px;
      
      > button {
        margin: 0 8px 0 0;
        width: 85px;
      }
    }
  }
}

#mrc-face-format-select-option {
  display: flex;

  > img {
    height: 39px;
    width: 64px;
    margin-right: 4px;
  }

  > label {
    align-items: center;
    line-height: 39px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mrc-global {
  .page-anamneses-edit-select-panel-override {
    > .mat-option {
      height: 36px;
      line-height: 36px;
    }
  }
}