<div>
  <div class="mrc-page-title">Anamneses</div>
  <div class="mrc-page-subtitle" *ngIf="isNew; else elseBlock">Adicionar anamnese</div>
  <ng-template #elseBlock>
    <div class="mrc-page-subtitle">Editar anamnese</div>
  </ng-template>
</div>
<div id="page-anamneses-edit-content">
  <progress-spinner [progress]="loading">

    <div id="page-anamneses-edit-content-column">
      <div id="page-anamneses-edit-content-item">
        <label>Caso Clínico</label>
        <textarea mrc-input-required="Caso clínico" [value]="anamnese?.clinicCase" #boxClinicCase
                  (change)="anamnese.clinicCase = boxClinicCase.value" (keypress)="markAsDirty()"></textarea>
      </div>
      <div id="page-anamneses-edit-content-item">
        <label>Data</label>
        <input (keypress)="markAsDirty()"><!-- TODO -->
      </div>
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
        <mat-panel-title>Hábitos de Vida</mat-panel-title>
      </mat-expansion-panel-header>
      <div id="page-anamneses-edit-content-item">
        <label>Restrição alimentar</label>
        <div>
          <mat-button-toggle-group #group="matButtonToggleGroup" [value]="anamnese?.lifeHabits?.alimentarRestriction" (change)="anamnese.lifeHabits.alimentarRestriction = $event.value; markAsDirty()">
            <mat-button-toggle [value]="alimentarRestritionEnum.No">Não</mat-button-toggle>
            <mat-button-toggle [value]="alimentarRestritionEnum.Vegetarian">Vegetariano</mat-button-toggle>
            <mat-button-toggle [value]="alimentarRestritionEnum.Vegan">Vegano</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <div id="page-anamneses-edit-content-item" *ngIf="anamnese?.lifeHabits">
        <label>Exercícios físicos</label>
        <textarea [(ngModel)]="anamnese.lifeHabits.physicalExercises" (keypress)="markAsDirty()"></textarea>
      </div>

      <div id="page-anamneses-edit-content-group">
        <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.lifeHabits.mealsOutsideTheHouse" (change)="markAsDirty()" disableRipple="true">Refeições fora de casa</mat-checkbox>
        <div id="page-anamneses-edit-content-item" *ngIf="anamnese?.lifeHabits?.mealsOutsideTheHouse">
          <label>Quais</label>
          <input [(ngModel)]="anamnese.lifeHabits.whichMeals" (keypress)="markAsDirty()">
        </div>
      </div>

      <div>
        <div id="page-anamneses-edit-content-column">
          <div id="page-anamneses-edit-content-column-item">
            <div id="page-anamneses-edit-content-group">
              <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.lifeHabits.alcohol" disableRipple="true" (change)="markAsDirty()">Ingere bebida alcoólica</mat-checkbox>
              <div *ngIf="anamnese?.lifeHabits?.alcohol">
                <div id="page-anamneses-edit-content-item">
                  <div>
                    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="anamnese?.lifeHabits?.alcoholFrequency" (change)="anamnese.lifeHabits.alcoholFrequency = $event.value; markAsDirty()">
                      <mat-button-toggle [value]="frequencyEnum.Everyday">Todos os dias</mat-button-toggle>
                      <mat-button-toggle [value]="frequencyEnum.Weekends">Finais de semana</mat-button-toggle>
                      <mat-button-toggle [value]="frequencyEnum.Socially">Socialmente</mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                </div>
                <div id="page-anamneses-edit-content-item" class="page-anamneses-edit-content-item-last-child" *ngIf="anamnese?.lifeHabits?.alcohol">
                  <label>Qual e quanto</label>
                  <input [(ngModel)]="anamnese.lifeHabits.alcoholWhichAndHowMuch" (keypress)="markAsDirty()">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="page-anamneses-edit-content-column">
          <div id="page-anamneses-edit-content-column-item">
            <div id="page-anamneses-edit-content-group">
              <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.lifeHabits.smoke" disableRipple="true" (change)="markAsDirty()">Fumante</mat-checkbox>
              <div *ngIf="anamnese?.lifeHabits?.smoke">
                <div id="page-anamneses-edit-content-item">
                  <div>
                    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="anamnese?.lifeHabits?.smokeFrequency" (change)="anamnese.lifeHabits.smokeFrequency = $event.value; markAsDirty()">
                      <mat-button-toggle [value]="frequencyEnum.Everyday">Todos os dias</mat-button-toggle>
                      <mat-button-toggle [value]="frequencyEnum.Weekends">Finais de semana</mat-button-toggle>
                      <mat-button-toggle [value]="frequencyEnum.Socially">Socialmente</mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                </div>
                <div id="page-anamneses-edit-content-item" class="page-anamneses-edit-content-item-last-child" *ngIf="anamnese?.lifeHabits?.smoke">
                  <label>Quantidade</label>
                  <input [(ngModel)]="anamnese.lifeHabits.smokeWhichAndHowMuch" (keypress)="markAsDirty()">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div id="page-anamneses-edit-content-group">
        <label>Hábitos de sono</label>
        <div>
          <div id="page-anamneses-edit-content-column">

            <div id="page-anamneses-edit-content-column-item">
              <div id="page-anamneses-edit-content-item">
                <div>
                  <mat-button-toggle-group #group="matButtonToggleGroup" [value]="anamnese?.lifeHabits?.sleep" (change)="anamnese.lifeHabits.sleep = $event.value; markAsDirty()">
                    <mat-button-toggle [value]="sleepEnum.SleepTight">Dorme bem</mat-button-toggle>
                    <mat-button-toggle [value]="sleepEnum.SleepBad">Dorme mal</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
              </div>
            </div>

          </div>
          <div id="page-anamneses-edit-content-column">
            
            <div id="page-anamneses-edit-content-column-item">
              <div id="page-anamneses-edit-content-item" class="page-anamneses-edit-content-item-last-child" *ngIf="anamnese?.lifeHabits">
                <label>Quantas horas</label>
                <input [(ngModel)]="anamnese.lifeHabits.sleepTime" (keypress)="markAsDirty()"><!-- TODO -->
              </div>
            </div>

          </div>
        </div>
      </div>
      
      <div id="page-anamneses-edit-content-group" *ngIf="anamnese?.lifeHabits">
        <label>Hábitos de compra</label>
        <div>
          <div id="page-anamneses-edit-content-column">
            <div id="page-anamneses-edit-content-column-item">
              <div id="page-anamneses-edit-content-item">
                <label>Mora com quantas pessoas</label>
                <input type="number" [(ngModel)]="anamnese.lifeHabits.liveWithHowManyPeople" (keypress)="markAsDirty()" (change)="markAsDirty()">
              </div>
            </div>
            <div id="page-anamneses-edit-content-column-item">
              <div id="page-anamneses-edit-content-item" class="page-anamneses-edit-content-item-last-child">
                <label>Quem realiza as compras da casa</label>
                <textarea [(ngModel)]="anamnese.lifeHabits.hoDoesTheHousePurchases" (keypress)="markAsDirty()"></textarea>
              </div>
            </div>
          </div>
          <div id="page-anamneses-edit-content-column">
            <div id="page-anamneses-edit-content-column-item">
              <div id="page-anamneses-edit-content-item">
                <label>Quantas vezes por mês</label>
                <input type="number" [(ngModel)]="anamnese.lifeHabits.howManyTimesPerMonth" (keypress)="markAsDirty()" (change)="markAsDirty()">
              </div>
            </div>
            <div id="page-anamneses-edit-content-column-item">
              <div id="page-anamneses-edit-content-item" class="page-anamneses-edit-content-item-last-child">
                <label>Onde realiza as compras</label>
                <textarea [(ngModel)]="anamnese.lifeHabits.wherePurchase" (keypress)="markAsDirty()"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="page-anamneses-edit-content-item" *ngIf="anamnese?.lifeHabits">
        <label>Observações</label>
        <textarea [(ngModel)]="anamnese.lifeHabits.observations" (keypress)="markAsDirty()"></textarea>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
        <mat-panel-title>Patologias</mat-panel-title>
      </mat-expansion-panel-header>

      <div id="page-anamneses-edit-content-column" class="column-margin">
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.anxiety" (change)="markAsDirty()" disableRipple="true">Ansiedade</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.cancer" (change)="markAsDirty()" disableRipple="true">Câncer</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.cardiac" (change)="markAsDirty()" disableRipple="true">Cardíaco</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.circulatory" (change)="markAsDirty()" disableRipple="true">Circulatório</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.colitis" (change)="markAsDirty()" disableRipple="true">Colite</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.depression" (change)="markAsDirty()" disableRipple="true">Depressão</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.diabetes" (change)="markAsDirty()" disableRipple="true">Diabetes</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.dyslipidemia" (change)="markAsDirty()" disableRipple="true">Dislipidemia</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.headache" (change)="markAsDirty()" disableRipple="true">Dor de cabeça</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.endocrine" (change)="markAsDirty()" disableRipple="true">Endócrino</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.gastritis" (change)="markAsDirty()" disableRipple="true">Gastrite</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.hepatitis" (change)="markAsDirty()" disableRipple="true">Hepatite</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.herpes" (change)="markAsDirty()" disableRipple="true">Herpes</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.hypertension" (change)="markAsDirty()" disableRipple="true">Hipertensão</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.hyperthyroidism" (change)="markAsDirty()" disableRipple="true">Hipertiroidismo</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.hypoglycemia" (change)="markAsDirty()" disableRipple="true">Hipoglicemia</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.hypothyroidism" (change)="markAsDirty()" disableRipple="true">Hipotireoidismo</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.irritability" (change)="markAsDirty()" disableRipple="true">Irritabilidade</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.osteoporosis" (change)="markAsDirty()" disableRipple="true">Osteoporose</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.renal" (change)="markAsDirty()" disableRipple="true">Renal</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.rge" (change)="markAsDirty()" disableRipple="true">RGE</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.rhinitisSinusitis" (change)="markAsDirty()" disableRipple="true">Rinite/Sinusite</mat-checkbox>
        </div>
        <div id="page-anamneses-edit-content-column-item" class="column-item-spacing">
          <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.pathologies.rge" (change)="markAsDirty()" disableRipple="true">RGE</mat-checkbox>
        </div>
      </div>

      <div id="page-anamneses-edit-content-item" *ngIf="anamnese?.pathologies">
        <label>Outras patologias</label>
        <textarea [(ngModel)]="anamnese.pathologies.otherPathologies" (keypress)="markAsDirty()"></textarea>
      </div>

      <div id="page-anamneses-edit-content-item" *ngIf="anamnese?.pathologies">
        <label>Medicamentos</label>
        <textarea [(ngModel)]="anamnese.pathologies.medicines" (keypress)="markAsDirty()"></textarea>
      </div>

      <div id="page-anamneses-edit-content-item" *ngIf="anamnese?.pathologies">
        <label>Histórico familiar</label>
        <textarea [(ngModel)]="anamnese.pathologies.familyHistory" (keypress)="markAsDirty()"></textarea>
      </div>

      <div id="page-anamneses-edit-content-item" *ngIf="anamnese?.pathologies">
        <label>Observações</label>
        <textarea [(ngModel)]="anamnese.pathologies.observations" (keypress)="markAsDirty()"></textarea>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
        <mat-panel-title>Avaliação Clínica</mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <div id="page-anamneses-edit-content-column">
            <div id="page-anamneses-edit-content-column-item">
              <div id="page-anamneses-edit-content-group">
                <label>Apetite</label>
                <div>
                  <div id="page-anamneses-edit-content-item" class="page-anamneses-edit-content-item-last-child">
                    <div>
                      <mat-button-toggle-group #group="matButtonToggleGroup" [value]="anamnese?.clinicalEvaluation?.appetite" (change)="anamnese.clinicalEvaluation.appetite = $event.value; markAsDirty()">
                        <mat-button-toggle [value]="appetiteEnum.Normal">Normal</mat-button-toggle>
                        <mat-button-toggle [value]="appetiteEnum.Increased">Aumentado</mat-button-toggle>
                        <mat-button-toggle [value]="appetiteEnum.Decreased">Diminuído</mat-button-toggle>
                      </mat-button-toggle-group>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div id="page-anamneses-edit-content-column">
          <div id="page-anamneses-edit-content-column-item">
            <div id="page-anamneses-edit-content-group">
              <label>Mastigação</label>
              <div>
                <div id="page-anamneses-edit-content-item" class="page-anamneses-edit-content-item-last-child">
                  <div>
                    <mat-button-toggle-group #group="matButtonToggleGroup" [value]="anamnese?.clinicalEvaluation?.chew" (change)="anamnese.clinicalEvaluation.chew = $event.value; markAsDirty()">
                      <mat-button-toggle [value]="chewEnum.Normal">Normal</mat-button-toggle>
                      <mat-button-toggle [value]="chewEnum.Fast">Rápida</mat-button-toggle>
                      <mat-button-toggle [value]="chewEnum.Slow">Lenta</mat-button-toggle>
                    </mat-button-toggle-group>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="page-anamneses-edit-content-group" *ngIf="anamnese?.clinicalEvaluation">
        <label>Hábito urinário</label>
        <div>
          <div id="page-anamneses-edit-content-item">
            <label>Descrição</label>
            <textarea [(ngModel)]="anamnese.clinicalEvaluation.urinaryHabit" (keypress)="markAsDirty()"></textarea>
          </div>
          <div id="page-anamneses-edit-content-item">
            <label>Cor da urina</label>
            <div id="mrc-chips-list">
              <label *ngFor="let option of urineColorList" 
                     style="border: solid 1px #c5c5c5"
                     [style.background-color]="option.color" 
                     [ngClass]="{'mrc-chip-selected': option.selected}"
                     (click)="on_urine_color_option_clicked(option)"></label>
            </div>
            <span id="page-anamneses-edit-content-item-description">
              {{ urineColorDesc.getValueDescription(anamnese.clinicalEvaluation.urineColor) }}
            </span>
          </div>
          <div id="page-anamneses-edit-content-item">
            <div>
              <label>Ingestão hídrica</label>
              <label id="page-anamneses-edit-content-item-description" style="margin-left: 4px">(em litros)</label>
            </div>
            <input class="mrc-input-2" type="number" [(ngModel)]="anamnese.clinicalEvaluation.waterIntake" (keypress)="markAsDirty()" (change)="markAsDirty()">
          </div>
        </div>
      </div>

      <div id="page-anamneses-edit-content-group" *ngIf="anamnese?.clinicalEvaluation">
        <label>Hábito intestinal</label>
        <div>
          <div id="page-anamneses-edit-content-item">
            <div>
              <mat-button-toggle-group #group="matButtonToggleGroup" [value]="anamnese?.clinicalEvaluation?.intestinalHabit" (change)="anamnese.clinicalEvaluation.intestinalHabit = $event.value; markAsDirty()">
                <mat-button-toggle [value]="intestinalHabitEnum.Normal">Normal</mat-button-toggle>
                <mat-button-toggle [value]="intestinalHabitEnum.Constipating">Constipante</mat-button-toggle>
                <mat-button-toggle [value]="intestinalHabitEnum.Diarrhea">Diarréico</mat-button-toggle>
                <mat-button-toggle [value]="intestinalHabitEnum.Varied">Variado</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div id="page-anamneses-edit-content-item">
            <label>Frequencia de evacuação</label>
            <div id="page-anamneses-edit-content-column" class="mrc-toggle-unit">
              <input type="number" [(ngModel)]="anamnese.clinicalEvaluation.evacuationFrequency" (keypress)="markAsDirty()" (change)="markAsDirty()">
              <mat-button-toggle-group #group="matButtonToggleGroup" [value]="anamnese?.clinicalEvaluation?.evacuationFrequencyUnit" (change)="anamnese.clinicalEvaluation.evacuationFrequencyUnit = $event.value; markAsDirty()">
                <mat-button-toggle [value]="frequencyEnum.PerDay">Por dia</mat-button-toggle>
                <mat-button-toggle [value]="frequencyEnum.PerWeek">Por semana</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div id="page-anamneses-edit-content-item" *ngIf="anamnese">
            <div>
              <label>Formato das fezes</label>
              <label id="page-anamneses-edit-content-item-description" style="margin-left: 4px">(Escala de Bristol)</label>
            </div>
            <div class="mrc-input">
              <mat-select [value]="anamnese.clinicalEvaluation?.fecesFormat" (selectionChange)="anamnese.clinicalEvaluation.fecesFormat = $event.value; markAsDirty()" placeholder="Selecione">
                <mat-select-trigger id="mrc-face-format-select-option">
                  <img [src]="getFecesFormatImage(anamnese.clinicalEvaluation.fecesFormat)">
                  <label>{{ getFecesFormatText(anamnese.clinicalEvaluation.fecesFormat) }}</label>
                </mat-select-trigger>
                <mat-option [value]="fecesFormat.Type1">
                  <div id="mrc-face-format-select-option">
                    <img [src]="getFecesFormatImage(fecesFormat.Type1)">
                    <label>{{ getFecesFormatText(fecesFormat.Type1) }}</label>
                  </div>
                </mat-option>
                <mat-option [value]="fecesFormat.Type2">
                  <div id="mrc-face-format-select-option">
                    <img [src]="getFecesFormatImage(fecesFormat.Type2)">
                    <label>{{ getFecesFormatText(fecesFormat.Type2) }}</label>  
                  </div>
                </mat-option>
                <mat-option [value]="fecesFormat.Type3">
                  <div id="mrc-face-format-select-option">
                    <img [src]="getFecesFormatImage(fecesFormat.Type3)">
                    <label>{{ getFecesFormatText(fecesFormat.Type3) }}</label>
                  </div>
                </mat-option>
                <mat-option [value]="fecesFormat.Type4">
                  <div id="mrc-face-format-select-option">
                    <img [src]="getFecesFormatImage(fecesFormat.Type4)">
                    <label>{{ getFecesFormatText(fecesFormat.Type4) }}</label>
                  </div>
                </mat-option>
                <mat-option [value]="fecesFormat.Type5">
                  <div id="mrc-face-format-select-option">
                    <img [src]="getFecesFormatImage(fecesFormat.Type5)">
                    <label>{{ getFecesFormatText(fecesFormat.Type5) }}</label>
                  </div>
                </mat-option>
                <mat-option [value]="fecesFormat.Type6">
                  <div id="mrc-face-format-select-option">
                    <img [src]="getFecesFormatImage(fecesFormat.Type6)">
                    <label>{{ getFecesFormatText(fecesFormat.Type6) }}</label>
                  </div>
                </mat-option>
                <mat-option [value]="fecesFormat.Type7">
                  <div id="mrc-face-format-select-option">
                    <img [src]="getFecesFormatImage(fecesFormat.Type7)">
                    <label>{{ getFecesFormatText(fecesFormat.Type7) }}</label>
                  </div>
                </mat-option>
              </mat-select>
            </div>
            <span id="page-anamneses-edit-content-item-description" *ngIf="bristolIndicator">Indicador Bristol: {{ bristolIndicator }}</span>
          </div>

          <div id="page-anamneses-edit-content-item">
            <mat-checkbox *ngIf="anamnese" [(ngModel)]="anamnese.clinicalEvaluation.useLaxative" (change)="markAsDirty()" disableRipple="true">Usa laxante</mat-checkbox>
          </div>

          <div id="page-anamneses-edit-content-item" *ngIf="anamnese">
            <label>Cor das fezes</label>
            <div id="mrc-chips-list">
              <label *ngFor="let option of poopShadeList" 
                     [style.background-color]="option.color" 
                     [style.color]="option.textColor ? option.textColor : ''" 
                     [ngClass]="{'mrc-chip-selected': option.selected}"
                     (click)="on_poop_shade_option_clicked(option)">{{ option.name }}</label>
            </div>
            <span id="page-anamneses-edit-content-item-description">
              {{ poopShadeDesc.getValueDescription(anamnese.clinicalEvaluation.poopShade) }}
            </span>
          </div>

        </div>
      </div>

      <div id="page-anamneses-edit-content-item" *ngIf="anamnese?.clinicalEvaluation">
        <label>Observações</label>
        <textarea [(ngModel)]="anamnese.clinicalEvaluation.observations" (keypress)="markAsDirty()"></textarea>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
        <mat-panel-title>Rastreamento metabólico</mat-panel-title>
      </mat-expansion-panel-header>

      <div id="page-anamneses-edit-content-group">
        <label>Avalie cada sintoma baseado em seu perfil de saúde típica nos últimos 30 dias de acordo com a escala de pontos abaixo:</label>
        <div>
          <div id="page-anamneses-edit-content-item" class="page-anamneses-edit-content-item-last-child">
            <div>0 - ­Nunca ou quase nunca teve o sintoma</div>
            <div>1 - ­Ocasionalmente teve, efeito não foi severo</div>
            <div>2 - ­Ocasionalmente teve, efeito foi severo</div>
            <div>3 - ­Frequentemente teve, efeito não foi severo</div>
            <div>4 - ­Frequentemente teve, efeito foi severo </div>
          </div>
        </div>
      </div>

      <div id="page-anamneses-edit-content-group" *ngFor="let group of metabolicTrackingGroups.keys">
        <label>{{ metabolicTrackingGroups.getGroupNamePTBR(group) }}</label>
        <div>
          <div id="page-anamneses-edit-content-column" *ngFor="let item of getMetabolicTrackingList(group)">
            <div id="page-anamneses-edit-content-column-item">
              <div id="page-anamneses-edit-content-item">
                <label>{{ item.description }}</label>
                <div>
                  <mat-button-toggle-group [value]="item.score" #group="matButtonToggleGroup" 
                                          (change)="on_metabolic_item_change(item, $event.value)">
                    <mat-button-toggle [value]="0">0</mat-button-toggle>
                    <mat-button-toggle [value]="1">1</mat-button-toggle>
                    <mat-button-toggle [value]="2">2</mat-button-toggle>
                    <mat-button-toggle [value]="3">3</mat-button-toggle>
                    <mat-button-toggle [value]="4">4</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="page-anamneses-edit-content-group">
        <label>Resultado do rastreamento metabólico</label>
        <div>
          <div id="page-anamneses-edit-content-item">
            <div>
              <label>Total:</label>
              <label class="metabolic-tracking-score">{{ metabolicTrackingScore }}</label>
              <label class="metabolic-tracking-score">pontos</label>
            </div>
            <label 
              [style.color]="metabolicTrackingGroups.getColor(metabolicTrackingScore)"
              [style.background-color]="metabolicTrackingGroups.getBGColor(metabolicTrackingScore)"
              class="metabolic-tracking-score-description">{{ metabolicTrackingGroups.getScoreDesc(metabolicTrackingScore) }}</label>
          </div>
        </div>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
        <mat-panel-title>Hábitos alimentares</mat-panel-title>
      </mat-expansion-panel-header>

      <div id="page-anamneses-edit-content-item" *ngIf="anamnese?.eatingHabits">
        <label>Suplementos</label>
        <textarea [(ngModel)]="anamnese.eatingHabits.supplements" (keypress)="markAsDirty()"></textarea>
      </div>

    </mat-expansion-panel>
  </progress-spinner>
</div>
<div id="mrc-edit-page-footer">
  <div class="mrc-dialog-separator"></div>
  <div *ngFor="let msg of errorList" class="mrc-edit-page-error">{{ msg }}</div>
  <div id="mrc-edit-page-footer-buttons">
    <button mat-button [disabled]="!dirty && !isNew" (click)="on_apply_clicked()">Aplicar</button>
    <button mat-button (click)="on_cancel_clicked()">Cancelar</button>
  </div>
</div>