page-anamneses-edit {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
  
  .mrc-page-subtitle {
    display: flex;

    > div {
      margin-right: 16px;
    }
  }

  #page-anamneses-edit-content {
    flex: 1;
    overflow: auto;
    margin-top: 8px;
  }

  #page-anamneses-edit-content-column {
    display: flex;
  }

  #page-anamneses-edit-content-item {
    display: flex;
    flex-direction: column;
    margin: 0 0 4px 22px;

    > label {
      font-size: 9pt;
      margin-bottom: 4px;
    }  

    > textarea {
      height: 80px;
      width: 300px;
    }

    > .mat-button-toggle-group {
      width: 215px;
    }
  }

  #mrc-edit-page-footer {

    .mrc-edit-page-error {
      color: #ef1508;
      font-size: 9pt;
      margin: 0 0 4px 22px;
    }

    &-buttons {
      margin: 8px 0 0 22px;
      
      > button {
        margin: 0 8px 8px 0;
        width: 85px;
      }
    }
  }
}