progress-spinner {
  //text-align: center;

  .progress-spinner-container {
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);

    > div {
      font-size: 9pt;
    }
  }
}