progress-spinner .progress-spinner-container {
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  position: absolute;
  text-align: center;
}

progress-spinner .progress-spinner-container > div {
  font-size: 9pt;
}
