dialog-nutrients {
  
  .dialog-nutrients-content {
    display: flex;

    &-col1 {
      margin: 0 16px 0 8px;
    }

    &-table {
      font-size: 9pt;

      .mrc-col-80 {
        width: 80px;
        text-align: center;
      }
    }
  }

  .mrc-dialog-separator {
    margin: 8px 0 !important;
    width: 100% !important;
  }

  #mrc-edit-page-footer-buttons {
    display: flex;
    justify-content: flex-end;
  }
}