page-patient-consult {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
}

page-patient-consult .mrc-page-subtitle {
  display: flex;
}

page-patient-consult .mrc-page-subtitle > div {
  margin-right: 16px;
}

page-patient-consult .mat-tab-group {
  margin: 0 22px;
}

page-patient-consult .mat-tab-body-wrapper {
  height: 100%;
}

page-patient-consult .mat-table {
  margin: 0;
}

page-patient-consult .mat-table .mat-row:hover {
  background-color: #efefef;
  cursor: pointer;
}

page-patient-consult .margin-left-4 {
  margin-left: 4px;
}

page-patient-consult .mat-expansion-panel {
  max-width: 600px;
}

page-patient-consult #page-patient-consult-content {
  flex: 1;
  overflow: auto;
  margin-top: 8px;
}

page-patient-consult #page-patient-consult-content .page-patient-consult-content-add-button {
  height: 22px;
  line-height: 22px;
  margin: 8px 0 8px 16px;
  padding: 0 8px;
}

page-patient-consult #page-patient-consult-content .page-patient-consult-content-table {
  max-width: 800px;
}

page-patient-consult #page-patient-consult-content .page-patient-consult-content-table .cdk-column-commands {
  flex: none;
  width: 20px;
}

page-patient-consult #page-patient-consult-content .page-patient-consult-content-table .cdk-column-timeElapsed {
  color: #9e9e9e;
  flex: none;
  font-style: italic;
  width: 120px;
}

page-patient-consult #page-patient-consult-content .page-patient-consult-content-table .cdk-column-active {
  flex: none;
  width: 100px;
}

page-patient-consult #page-patient-consult-content .page-patient-consult-content-table .cdk-column-selDays {
  font-weight: bold;
}

page-patient-consult #page-patient-consult-content .page-patient-consult-content-table-empty {
  font-size: 8pt;
  margin: 8px 0 0 16px;
  max-width: 350px;
  padding: 16px;
  text-align: center;
}

page-patient-consult #page-patient-consult-content .mat-accordion > .mat-expansion-panel > .mat-expansion-panel-content {
  margin-left: 8px;
}

page-patient-consult #page-patient-consult-content .mat-cell > span {
  line-height: 0;
}

page-patient-consult #page-patient-consult-content .mat-cell > span .icon-delete, page-patient-consult #page-patient-consult-content .mat-cell > span .icon-edit {
  color: #4f4f4f;
  cursor: pointer;
  font-size: 12pt;
}

page-patient-consult progress-spinner-2 {
  height: calc(100% - 30px);
}
