page-patient-consult {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
}

page-patient-consult .mrc-page-subtitle {
  display: flex;
}

page-patient-consult .mrc-page-subtitle > div {
  margin-right: 16px;
}

page-patient-consult .mat-tab-group {
  margin: 0 22px;
}

page-patient-consult .mat-table {
  margin: 0;
}

page-patient-consult .mat-table .mat-row:hover {
  background-color: #efefef;
  cursor: pointer;
}

page-patient-consult .margin-left-4 {
  margin-left: 4px;
}

page-patient-consult .mat-expansion-panel {
  max-width: 500px;
}

page-patient-consult #page-patient-consult-content {
  flex: 1;
  overflow: auto;
  margin-top: 8px;
}

page-patient-consult .mat-accordion > .mat-expansion-panel > .mat-expansion-panel-content {
  margin-left: 8px;
}

page-patient-consult #page-patient-consult-content .page-patient-consult-content-add-anamnese {
  margin: 8px 0 8px 16px;
}

page-patient-consult #page-patient-consult-content .mat-cell > span {
  line-height: 0;
}

page-patient-consult #page-patient-consult-content .mat-cell > span .icon-delete, page-patient-consult #page-patient-consult-content .mat-cell > span .icon-edit {
  color: #4f4f4f;
  cursor: pointer;
  font-size: 12pt;
}

page-patient-consult progress-spinner-2 {
  height: calc(100% - 30px);
}