page-patient-consult {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
  
  .mrc-page-subtitle {
    display: flex;

    > div {
      margin-right: 16px;
    }
  }

  .mat-tab-group {
    margin: 0 22px;
  }

  .mat-table {
    margin: 0;

    .mat-row:hover {
      background-color: #efefef;
      cursor: pointer;
    }
  }

  .margin-left-4 {
    margin-left: 4px; 
  }

  #page-patient-consult-content {
    flex: 1;
    overflow: auto;
    margin-top: 8px;

    .mat-cell {
      > span {
        line-height: 0;

        .icon-delete, .icon-edit {
          color: #4f4f4f;		
          cursor: pointer;
          font-size: 12pt;
        }
      }
    }
  }
}