page-patient-consult {
  display: flex;
  flex-direction: column;
  height: calc(100% - 30px);
  
  .mrc-page-subtitle {
    display: flex;

    > div {
      margin-right: 16px;
    }
  }

  .mat-tab-group {
    margin: 0 22px;
  }

  .mat-table {
    margin: 0;

    .mat-row:hover {
      background-color: #efefef;
      cursor: pointer;
    }
  }

  .margin-left-4 {
    margin-left: 4px; 
  }

  .mat-expansion-panel {
    max-width: 500px;
  }

  #page-patient-consult-content {
    flex: 1;
    overflow: auto;
    margin-top: 8px;

    .page-patient-consult-content-add-button {
      height: 22px;
      line-height: 22px;
      margin: 8px 0 8px 16px;
      padding: 0 8px;
    }

    .page-patient-consult-content-anamneses-table {
      max-width: 800px;
    }

    .mat-accordion {
      > .mat-expansion-panel {
        > .mat-expansion-panel-content {
          margin-left: 8px;
        }
      }
    }

    .mat-cell {
      > span {
        line-height: 0;

        .icon-delete, .icon-edit {
          color: #4f4f4f;		
          cursor: pointer;
          font-size: 12pt;
        }
      }
    }
  }

  progress-spinner-2 {
    height: calc(100% - 30px);
  }
}