<div>
  <div class="mrc-page-title" (click)="teste()">{{ patient?.name }}</div>
  <div class="mrc-page-subtitle">
    <div>{{patient?.age}}</div>
    <div>{{format_value(patient?.height) | localeString}}</div>
    <div>{{format_value(patient?.weight) | localeString}}</div>
  </div>
</div>
<div id="page-patient-consult-content">
  <mat-tab-group [(selectedIndex)]="selectedTabIndex">
    <mat-tab label="Anamneses">
      <button mat-button class="page-patient-consult-content-add-button" (click)="on_anamneses_edit()">Adicionar anamneses</button>
      <mat-table #table [dataSource]="anamneses" class="page-patient-consult-content-table">

        <ng-container matColumnDef="clinicCase">
          <mat-header-cell *matHeaderCellDef> Caso clínico </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.clinicCase }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="commands">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span>
              <span title="Remover" class="icon-delete" (click)="on_remove_anamneses_click($event, element)"></span> 
            </span>  
          </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="anamnesesDisplayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: anamnesesDisplayedColumns;" (click)="on_anamneses_edit(row.id)"></mat-row>
      </mat-table>
    </mat-tab>

    <mat-tab label="Medidas">
      <mat-accordion displayMode="flat" multi="true" *ngIf="patient && patient.measurements">

        <measurement-item [data]="patient.measurements.weigth" [goalData]="patient.measurements.weigthGoals"
                          valueLabel="Peso" unit="kg" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
        <measurement-item [data]="patient.measurements.height" [goalData]="patient.measurements.heightGoals"
                          valueLabel="Altura" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>

        <mat-expansion-panel>
          <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
            <mat-panel-title>Circunferências</mat-panel-title>
          </mat-expansion-panel-header>

          <measurement-item [data]="patient.measurements.armRelaxedRight" [goalData]="patient.measurements.armRelaxedRightGoals"
          valueLabel="Braço relaxado direito" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>

          <measurement-item [data]="patient.measurements.armRelaxedLeft" [goalData]="patient.measurements.armRelaxedLeftGoals"
          valueLabel="Braço relaxado esquerdo" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>

          <measurement-item [data]="patient.measurements.armContractedRight" [goalData]="patient.measurements.armContractedRightGoals"
          valueLabel="Braço contraido direito" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>

          <measurement-item [data]="patient.measurements.armContractedLeft" [goalData]="patient.measurements.armContractedLeftGoals"
          valueLabel="Braço contraido esquerdo" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.forearmRight" [goalData]="patient.measurements.forearmRightGoals"
          valueLabel="Antebraço direito" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.forearmLeft" [goalData]="patient.measurements.forearmLeftGoals"
          valueLabel="Antebraço esquerdo" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.fistRight" [goalData]="patient.measurements.fistRightGoals"
          valueLabel="Punho direito" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.fistLeft" [goalData]="patient.measurements.fistLeftGoals"
          valueLabel="Punho esquerdo" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.neck" [goalData]="patient.measurements.neckGoals"
          valueLabel="Pescoço" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.shoulders" [goalData]="patient.measurements.shouldersGoals"
          valueLabel="Ombro" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.breastplate" [goalData]="patient.measurements.breastplateGoals"
          valueLabel="Peitoral" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.weist" [goalData]="patient.measurements.weistGoals"
          valueLabel="Cintura " unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.abdomenCirc" [goalData]="patient.measurements.abdomenCircGoals"
          valueLabel="Abdômen" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.hip" [goalData]="patient.measurements.hipGoals"
          valueLabel="Quadril" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.calfRight" [goalData]="patient.measurements.calfRightGoals"
          valueLabel="Panturrilha direita" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.calfLeft" [goalData]="patient.measurements.calfLeftGoals"
          valueLabel="Panturrilha esquerda" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.thighRight" [goalData]="patient.measurements.thighRightGoals"
          valueLabel="Coxa direita" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.thighLeft" [goalData]="patient.measurements.thighLeftGoals"
          valueLabel="Coxa esquerda" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.proximalThighRight" [goalData]="patient.measurements.proximalThighRightGoals"
          valueLabel="Coxa proximal direita" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.proximalThighLeft" [goalData]="patient.measurements.proximalThighLeftGoals"
          valueLabel="Coxa proximal esquerda" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
            <mat-panel-title>Diâmetros Ósseos</mat-panel-title>
          </mat-expansion-panel-header>
          <!-- TODO -->
          <measurement-item [data]="patient.measurements.fist" [goalData]="patient.measurements.fistGoals"
          valueLabel="Punho" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.femur" [goalData]="patient.measurements.femurGoals"
          valueLabel="Fêmur" unit="cm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
            <mat-panel-title>Dobras cutâneas</mat-panel-title>
          </mat-expansion-panel-header>
          <measurement-item [data]="patient.measurements.biceps" [goalData]="patient.measurements.bicepsGoals"
          valueLabel="Bíceps" unit="mm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.abdomenFold" [goalData]="patient.measurements.abdomenFoldGoals"
          valueLabel="Abdominal" unit="mm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.triceps" [goalData]="patient.measurements.tricepsGoals"
          valueLabel="Tríceps" unit="mm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.suprailiac" [goalData]="patient.measurements.suprailiacGoals"
          valueLabel="Suprailíaca" unit="mm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.averageAxillary" [goalData]="patient.measurements.averageAxillaryGoals"
          valueLabel="Axilar Média" unit="mm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.subscapular" [goalData]="patient.measurements.subscapularGoals"
          valueLabel="Subescapular" unit="mm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.chest" [goalData]="patient.measurements.chestGoals"
          valueLabel="Tórax" unit="mm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
          <measurement-item [data]="patient.measurements.thighFold" [goalData]="patient.measurements.thighFoldGoals"
          valueLabel="Coxa" unit="mm" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          
        </mat-expansion-panel>
        
        <mat-expansion-panel>
          <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
            <mat-panel-title>Massa corporal</mat-panel-title>
          </mat-expansion-panel-header>

          <!-- <div style="max-width: 300px;margin-bottom: 4px;">
            <label>Protocolo de referência</label>
            <mat-select #select>
              <mat-option *ngFor="let item of protocols" [value]="item.value">{{ item.text }}</mat-option>
            </mat-select>
          </div>
          <div style="margin-bottom: 8px">
            <mat-checkbox [disableRipple]="true">Exibir valores calculados automaticamente através do protocolo selecionado.</mat-checkbox>
          </div> -->

          <div style="margin: 8px">
            <mat-radio-group [(ngModel)]="bodyCompositionTypeValue">
              <mat-radio-button [value]="bodyCompositionType.Skinfolds">Dobras cutâneas</mat-radio-button>
              <mat-radio-button [value]="bodyCompositionType.Bioimpedance">Bioimpedância</mat-radio-button>
            </mat-radio-group>
          </div>  
          <ng-container *ngIf="bodyCompositionTypeValue == bodyCompositionType.Skinfolds">
            <mat-select #select>
              <mat-option *ngFor="let item of protocols" [value]="item.value">{{ item.text }}</mat-option>
            </mat-select>
          </ng-container>

          <measurement-item [data]="bodyCompositionTypeValue == bodyCompositionType.Bioimpedance ? patient.measurements.imc : get_predictive_value('imc', 'kg/m²')" 
            [goalData]="bodyCompositionTypeValue == bodyCompositionType.Bioimpedance ? patient.measurements.imcGoals : get_predictive_value('imcGoals', 'kg/m²')" 
            [canAdd]="bodyCompositionTypeValue == bodyCompositionType.Bioimpedance ? true : false" [noItemErrorMsg]="equations.getEquationError(patient.measurements, 'imc')" 
            [noGoalsErrorMsg]="equations.getEquationError(patient.measurements, 'imcGoals')" [showClassification]="true" 
            valueLabel="IMC" unit="kg/m²" itemRef="imc" (measurementEdited)="on_measurement_edited($event)"></measurement-item>
          <!-- TODO -->

        </mat-expansion-panel>

      </mat-accordion>
    </mat-tab>
    <mat-tab label="Exames laboratoriais">
      <mat-accordion displayMode="flat" multi="true" *ngIf="patient">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header expandedHeight="28px" collapsedHeight="28px">
            <mat-panel-title>Requisições</mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-button class="page-patient-consult-content-add-button" (click)="on_exam_request_click()">Nova requisição</button>
          <mat-table #table [dataSource]="examsRequested" class="page-patient-consult-content-table">
      
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="commands">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let element"> 
                <span>
                  <span title="Remover" class="icon-delete" (click)="on_remove_exam_request_click($event, element)"></span> 
                </span>  
              </mat-cell>
            </ng-container>
              
            <mat-header-row *matHeaderRowDef="examsRequestedDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: examsRequestedDisplayedColumns;" (click)="on_exam_request_edit(row.id)"></mat-row>
          </mat-table> 
        </mat-expansion-panel>
      </mat-accordion>

    </mat-tab>
  </mat-tab-group>
</div>
<progress-spinner-2 *ngIf="loading"></progress-spinner-2> 