<div class="mrc-dialog-title" *ngIf="isNew; else elseBlock">Novo serviço</div>
<ng-template #elseBlock>
  <div class="mrc-dialog-title">Editar serviço</div>
</ng-template>
<div class="mrc-dialog-separator"></div>

<mat-form-field floatLabel="always">
  <mat-label>Nome do serviço</mat-label>
  <input matInput [formControl]="serviceNameCtrl">
  <mat-error *ngIf="serviceNameCtrl && serviceNameCtrl.hasError('required')">Informe um nome para o serviço</mat-error>
</mat-form-field>
<mat-form-field floatLabel="always">
  <mat-label>Valor (R$)</mat-label>
  <input matInput type="number" [formControl]="servicePriceCtrl" unit="R$">
</mat-form-field>

<div id="mrc-edit-page-footer">
  <div class="mrc-dialog-separator"></div>
  <!-- <div *ngFor="let msg of errorList" class="mrc-edit-page-error">{{ msg }}</div> -->
  <div id="mrc-edit-page-footer-buttons">
    <button mat-button (click)="on_save_clicked()">Salvar</button> <!-- TODO: [disabled]="!dirty && !isNew"  -->
    <button mat-button (click)="on_cancel_click()">Cancelar</button>
  </div>
</div>