dialog-add-user {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    input { 
      margin-left: 4px;
      width: 100%;
    }

    input[type="checkbox"] {
      height: 14px;
      width: 14px;
    }

    .dialog-add-user-title {
      font-size: 9pt;
      margin-left: 4px;
    }

    .dialog-add-user-separator {
      background-color: #b0b0b0;
      height: 1px;
      width: 100%;
      margin: 8px 0 8px 0;
    }

    .dialog-add-user-content {
      display: flex;

      &-column {

        &-item {
          display: flex;
          margin: 4px;
    
          .mrc-text-1 {
            margin-top: 3px;
          }
          
          .column-1 {
            width: 146px;
          }

          &-checkbox {
            display: flex;
            margin-left: 2px;

            &-text {
              font-size: 9pt;
              padding-top: 3px;
            }
          }
        }
      }
    }

    .dialog-user-error-msg {
      color: red;
      font-size: 9pt;
      position: relative;
      text-align: end;
      top: 8px;
    }

    .mrc-button {
      float: right;
      margin-left: 8px;
      text-align: center;
      width: 75px;
    }
  }
  