dialog-add-user {
  display: flex;
  flex-direction: column;
  height: 100%;
}

dialog-add-user input {
  margin-left: 4px;
  width: 100%;
}

dialog-add-user input[type="checkbox"] {
  height: 14px;
  width: 14px;
}

dialog-add-user .dialog-add-user-content {
  display: block;
}

dialog-add-user .dialog-add-user-content-column-item {
  display: flex;
  font-size: 9pt;
  margin: 4px;
}

dialog-add-user .dialog-add-user-content-column-item .mrc-text-1 {
  margin-top: 3px;
}

dialog-add-user .dialog-add-user-content-column-item .column-1 {
  width: 215px;
}

dialog-add-user .dialog-add-user-content-column-item .column-1-withIcon {
  margin-right: 8px;
}

dialog-add-user .dialog-add-user-content-column-item .column-unique {
  width: 371px;
  margin-bottom: 16px;
}

dialog-add-user .dialog-add-user-content-column-item-checkbox {
  display: flex;
  margin: 1px 0 8px 2px;
}

dialog-add-user .dialog-add-user-content-line {
  display: flex;
}

dialog-add-user .dialog-add-user-link {
  color: #3a9cd8;
  cursor: pointer;
  font-size: 9pt;
  margin-left: 8px;
  text-decoration: underline;
}

dialog-add-user .dialog-add-user-professional-checkbox {
  margin: 4px;
}

dialog-add-user .dialog-user-error-msg {
  color: #ff1919;
  font-size: 9pt;
  position: relative;
  text-align: end;
  top: 8px;
}

dialog-add-user .mat-button {
  float: right;
  margin-left: 8px;
}

dialog-add-user .mat-form-field {
  font-size: 12pt;
  margin-left: 2px;
  width: 100%;
}

dialog-add-user .mat-checkbox {
  margin-left: 4px;
}

dialog-add-user .mat-tab-header {
  border: none;
}

dialog-add-user .mat-tab-body-content {
  overflow: hidden;
}

dialog-add-user .mat-tab-body {
  width: 842px;
  height: 135px;
}

dialog-add-user .error-input {
  border: solid 1px #ff1919;
}
