dialog-add-user {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    input { 
      margin-left: 4px;
      width: 100%;
    }

    input[type="checkbox"] {
      height: 14px;
      width: 14px;
    }

    .dialog-add-user-content {
      display: block;

      &-column {

        &-item {
          display: flex;
          margin: 4px;
    
          .mrc-text-1 {
            margin-top: 3px;
          }
          
          .column-1 {
            width: 215px;
          }

          &-checkbox {
            display: flex;
            margin: 1px 0 8px 2px;
          }
        }
      }

      &-line {
        display: flex;
      }
    }

    .dialog-add-user-link {
      color: #3a9cd8;
      cursor: pointer;
      font-size: 9pt;
      margin-left: 8px;
      text-decoration: underline;
    }

    .dialog-user-error-msg {
      color: #ff1919;
      font-size: 9pt;
      position: relative;
      text-align: end;
      top: 8px;
    }

    .mat-button {
      float: right;
      margin-left: 8px;
    }

    .mat-form-field {
      margin-left: 2px;
      width: 100%;
    }

    .error-input {
      border: solid 1px #ff1919;
    }
  }
  