<div class="mrc-dialog-title">Novo usuário</div>
<div class="mrc-dialog-separator"></div>
<div class="dialog-add-user-content">
  <div class="dialog-add-user-content-column">
    <div class="dialog-add-user-content-column-item">
      <div class="mrc-text-1 column-1">Nome:</div>
      <input type="text" [ngClass]="{ 'error-input': nameError }" (change)="name = nameBox.value" #nameBox />
    </div>
    <div class="dialog-add-user-content-column-item">
      <div class="mrc-text-1 column-1">E-mail:</div>
      <input type="text" [ngClass]="{ 'error-input': emailError }" (change)="email = emailBox.value" #emailBox />
    </div>
    <div class="dialog-add-user-content-column-item">
      <div class="mrc-text-1 column-1">Nome de usuário:</div>
      <input type="text" [ngClass]="{ 'error-input': userNameError }" (change)="userName = usernameBox.value" #usernameBox/>
    </div>
  </div>
  <div class="dialog-add-user-content-column">
    <div class="dialog-add-user-content-column-item">
      <div class="mrc-text-1">Permissões:</div>
      <div>
        <div class="dialog-add-user-content-column-item-checkbox">
          <input type="checkbox" [(ngModel)]="canScheduleAndRegisterPatient" />
          <div class="dialog-add-user-content-column-item-checkbox-text">Agendamento de consultas e cadastro de pacientes.</div>
        </div>
        <div class="dialog-add-user-content-column-item-checkbox">
          <input type="checkbox" [(ngModel)]="canManageSystemData" />
          <div class="dialog-add-user-content-column-item-checkbox-text">Gerenciamento de todos os recursos do sistema.</div>
        </div>
        <div class="dialog-add-user-content-column-item-checkbox">
          <input type="checkbox" [(ngModel)]="canAccessFinances" />
          <div class="dialog-add-user-content-column-item-checkbox-text">Acessar as finanças da clínica.</div>
        </div>
        <div class="dialog-add-user-link" (click)="customize_capabilities_clicked()">Personalizar...</div>
      </div>
    </div>
  </div>
</div>
<div class="mrc-dialog-separator"></div>
<div>
  <button mat-button (click)="cancel_clicked()">Cancelar</button>
  <button mat-button (click)="create_clicked()">Criar usuário</button>
</div>
<div *ngIf="hasError" class="dialog-user-error-msg">{{ errorMsg }}</div>

