add-professional {

  .add-professional-item {
    display: flex;
    font-size: 9pt;
    margin: 4px;

    &-text {
      width: 125px;

      &-iconed {
        margin-right: 8px;
      }
    }

    .mrc-text-1 {
      margin-top: 3px;
    }

    select {
      margin-left: 4px;
      width: 141px;
    }

    .prof-register-box {
      width: 300px;
    }

    .specialite-box {
      margin-left: 20px;
    }
  }

  .icon-list {
    cursor: pointer;
    font-size: 14pt;
    margin: 1px 0 0 2px;
  }

  .icon-schedule {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 12pt;
  }

  .mat-table {
    height: 112px;
    overflow: auto;
    width: 100%;

    .mat-cell {
      > span {
        cursor: pointer;
        font-size: 12pt;
      }
    }
  }

  .mat-header-row {
    background-color: #fff;
    position: sticky;
    z-index: 100;
    top: 0;
  }

  .mat-tab-body {
    height: 0;
    width: 0;
  }

  .icon-delete {
		cursor: pointer;
		font-size: 12pt;
		color: #4f4f4f;		
	}

  #add-professional-add-button {
    cursor: pointer;
    display: flex;
    margin: 4px 0 0 4px;
    width: 132px;

    > div {
      font-size: 9pt;
      margin-left: 4px;
    }
  }

  #add-professional-no-records {
    font-size: 12pt;
    height: 112px;
    text-align: center;
  }
}