add-professional .add-professional-item {
  display: flex;
  font-size: 9pt;
  margin: 4px;
}

add-professional .add-professional-item-text {
  width: 145px;
}

add-professional .add-professional-item .mrc-text-1 {
  margin-top: 3px;
}

add-professional .add-professional-item select {
  margin-left: 4px;
  width: 141px;
}

add-professional .add-professional-item .prof-register-box {
  width: 150px;
}

add-professional .add-professional-item .specialite-box {
  width: 275px;
}

add-professional .icon-list {
  cursor: pointer;
  font-size: 14pt;
  margin: 1px 0 0 2px;
}

add-professional .icon-schedule {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 12pt;
}

add-professional .mat-table {
  height: 112px;
  overflow: auto;
  width: 100%;
}

add-professional .mat-table .mat-cell > span {
  cursor: pointer;
  font-size: 12pt;
}

add-professional .mat-header-row {
  background-color: #fff;
  position: sticky;
  z-index: 100;
  top: 0;
}

add-professional .mat-tab-body {
  height: 0;
  width: 0;
}

add-professional .icon-delete {
  cursor: pointer;
  font-size: 12pt;
  color: #4f4f4f;
}

add-professional #add-professional-add-button {
  cursor: pointer;
  display: flex;
  margin: 4px 0 0 4px;
  width: 132px;
}

add-professional #add-professional-add-button > div {
  font-size: 9pt;
  margin-left: 4px;
}

add-professional #add-professional-no-records {
  color: #212121;
  font-size: 11pt;
  height: 112px;
  text-align: center;
  width: 590px;
}
