<div class="add-professional-item">
  <div class="mrc-text-1 add-professional-item-text">Nome:</div>
  <input type="text" #proNameBox />
</div>
<div class="add-professional-item">
  <div class="add-professional-item-text mrc-text-1">Registro profissional:</div>
  <input type="text" #proRegBox />
</div>
<div class="add-professional-item">
  <div class="add-professional-item-text add-professional-item-text-iconed mrc-text-1">
    Especialidade(s):
  </div>
  <input type="text" readonly="readonly"/>
  <div class="icon-list" (click)="select_specialties_clicked()"></div>
</div>
<div class="add-professional-item">
  <mat-checkbox disableRipple="true">Ativo</mat-checkbox>  
</div>