<div class="add-professional-item">
  <mat-checkbox disableRipple="true" [(ngModel)]="data.active">Ativo</mat-checkbox>  
</div>
<div class="add-professional-item">
  <div class="add-professional-item-text mrc-text-1">Registro profissional:</div>
  <input type="number" class="prof-register-box" [value]="data.professionalRegisterNum" (change)="data.professionalRegisterNum = proRegNum.value" #proRegNum />
  <select id="estado" name="estado" [value]="data.professionalRegisterState" (change)="data.professionalRegisterState = proRegState.value" #proRegState>
    <option value="AC">Acre</option>
    <option value="AL">Alagoas</option>
    <option value="AP">Amapá</option>
    <option value="AM">Amazonas</option>
    <option value="BA">Bahia</option>
    <option value="CE">Ceará</option>
    <option value="DF">Distrito Federal</option>
    <option value="ES">Espírito Santo</option>
    <option value="GO">Goiás</option>
    <option value="MA">Maranhão</option>
    <option value="MT">Mato Grosso</option>
    <option value="MS">Mato Grosso do Sul</option>
    <option value="MG">Minas Gerais</option>
    <option value="PA">Pará</option>
    <option value="PB">Paraíba</option>
    <option value="PR">Paraná</option>
    <option value="PE">Pernambuco</option>
    <option value="PI">Piauí</option>
    <option value="RJ">Rio de Janeiro</option>
    <option value="RN">Rio Grande do Norte</option>
    <option value="RS">Rio Grande do Sul</option>
    <option value="RO">Rondônia</option>
    <option value="RR">Roraima</option>
    <option value="SC">Santa Catarina</option>
    <option value="SP">São Paulo</option>
    <option value="SE">Sergipe</option>
    <option value="TO">Tocantins</option>
</select>
</div>
<div class="add-professional-item">
  <div class="add-professional-item-text add-professional-item-text-iconed mrc-text-1">
    Especialidade(s):
  </div>
  <input type="text" readonly="readonly" class="specialite-box" [value]="data.specialites" (change)="data.specialites = specialiteBox.value" #specialiteBox />
  <div class="icon-list" (click)="select_specialites_clicked()"></div>
</div>
<div class="add-professional-item" style="margin-top: 8px">
  <div class="add-professional-item-text add-professional-item-text-iconed mrc-text-1">
    Horários de atendimento:
  </div>
  <div style="margin-top: -2px">
    <mat-tab-group [(selectedIndex)]="_selectedTabIndex" (selectedTabChange)="selected_tab_changed($event)">
      <mat-tab label="Segunda-feira">    
      </mat-tab>
      <mat-tab label="Terça-feira">
      </mat-tab>
      <mat-tab label="Quarta-feira">
      </mat-tab>
      <mat-tab label="Quinta-feira">
      </mat-tab>
      <mat-tab label="Sexta-feira">
      </mat-tab>
      <mat-tab label="Sábado">
      </mat-tab>
      <mat-tab label="Domingo">
      </mat-tab>
    </mat-tab-group>
    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="start">
        <mat-header-cell *matHeaderCellDef> Início </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.start }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="end">
        <mat-header-cell *matHeaderCellDef> Fim </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.end }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="commands">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span title="Editar" class="icon-edit"></span> 
          <span title="Remover" class="icon-delete"></span>
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div id="add-professional-add-button">
      <span class="icon-add"></span>
      <div>Adicionar horário</div>
  </div>
  </div>
</div>