add-professional .add-professional-item {
  display: flex;
  font-size: 9pt;
  margin: 4px;
}

add-professional .add-professional-item-text {
  width: 138px;
}

add-professional .add-professional-item-text-iconed {
  margin-right: 8px;
}

add-professional .add-professional-item .mrc-text-1 {
  margin-top: 3px;
}

add-professional .add-professional-item select {
  margin-left: 4px;
  width: 141px;
}

add-professional .add-professional-item .prof-register-box {
  width: 300px;
}

add-professional .add-professional-item .specialite-box {
  margin-left: 20px;
}

add-professional .icon-list {
  cursor: pointer;
  font-size: 14pt;
  margin: 1px 0 0 2px;
}

add-professional .icon-schedule {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 12pt;
}
