/*TODO: passar estes para a pasta assets*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: 'icomoon';
    src:  url('/assets/fonts/icomoon.eot?6q8qwl');
    src:  url('/assets/fonts/icomoon.eot?6q8qwl#iefix') format('embedded-opentype'),
      url('/assets/fonts/icomoon.ttf?6q8qwl') format('truetype'),
      url('/assets/fonts/icomoon.woff?6q8qwl') format('woff'),
      url('/assets/fonts/icomoon.svg?6q8qwl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-list:before {
      content: "\e900";
  }
  
  .icon-add:before {
      content: "\e901";
  }

  .icon-delete:before {
    content: "\e902";
  }

  .icon-edit:before {
    content: "\e903";
  }

  .icon-professional:before {
    content: "\e904";
  }

  .icon-user:before {
    content: "\e905";
  }

  .icon-schedule:before {
    content: "\e906";
  }

  .icon-baseline-menu:before {
    content: "\e907";
  }