<div class="mrc-dialog-title">Informe o horário de atendimento do Profissional</div>
<div class="mrc-dialog-separator"></div>
<div class="dialog-professional-schedule-content">
  <div class="dialog-professional-schedule-content-item">
    <label>Segunda-feira</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
    <label>Intervalo</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
  </div>
  <div class="dialog-professional-schedule-content-item">
    <label class="dialog-professional-schedule-content-item-title">Segunda-feira:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
    <label>Intervalo:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
  </div>
  <div class="dialog-professional-schedule-content-item">
    <label class="dialog-professional-schedule-content-item-title">Terça-feira:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
    <label>Intervalo:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
  </div>
  <div class="dialog-professional-schedule-content-item">
    <label class="dialog-professional-schedule-content-item-title">Quarta-feira:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
    <label>Intervalo:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
  </div>
  <div class="dialog-professional-schedule-content-item">
    <label class="dialog-professional-schedule-content-item-title">Quinta-feira:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
    <label>Intervalo:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
  </div>
  <div class="dialog-professional-schedule-content-item">
    <label class="dialog-professional-schedule-content-item-title">Sexta-feira:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
    <label>Intervalo:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
  </div>
  <div class="dialog-professional-schedule-content-item">
    <label class="dialog-professional-schedule-content-item-title">Sábado:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
    <label>Intervalo:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
  </div>
  <div class="dialog-professional-schedule-content-item">
    <label class="dialog-professional-schedule-content-item-title">Domingo:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
    <label>Intervalo:</label>
    <input type="text" />
    <label>às</label>
    <input type="text" />
  </div>
</div>
<div class="mrc-dialog-separator"></div>
<div>
  <button mat-button (click)="cancel_clicked()">Cancelar</button>
  <button mat-button (click)="ok_clicked()">OK</button>
</div>