<div class="mrc-dialog-title">Informe os horários de atendimento do Profissional</div>
<div class="mrc-dialog-separator"></div>
<mat-tab-group>
  <mat-tab label="Segunda-feira">    
  </mat-tab>
  <mat-tab label="Terça-feira">
  </mat-tab>
  <mat-tab label="Quarta-feira">
  </mat-tab>
  <mat-tab label="Quinta-feira">
  </mat-tab>
  <mat-tab label="Sexta-feira">
  </mat-tab>
  <mat-tab label="Sábado">
  </mat-tab>
  <mat-tab label="Domingo">
  </mat-tab>
</mat-tab-group>
<div id="dialog-professional-schedule-add-button">
    <span class="icon-add"></span>
    <div>Adicionar horário</div>
</div>
<div style="height: 150px;"></div>
<div class="mrc-dialog-separator"></div>
<div id="dialog-professional-schedule-actions">
  <button mat-button (click)="ok_clicked()">OK</button>
  <button mat-button (click)="cancel_clicked()">Cancelar</button>
</div>