dialog-professional-schedule {
  #dialog-professional-schedule-add-button {
    display: flex;
    width: 132px;
    cursor: pointer;

    > div {
      font-size: 9pt;
      margin: 2px 0 0 4px;
    }
  }  

  #dialog-professional-schedule-actions {
    float: right;
    margin-left: 8px;
  }
}