<div class="mrc-dialog-title">Informe os horários de atendimento do Profissional</div>
<div class="mrc-dialog-separator"></div>
<mat-tab-group>
  <mat-tab label="Segunda-feira">    
  </mat-tab>
  <mat-tab label="Terça-feira">
  </mat-tab>
  <mat-tab label="Quarta-feira">
  </mat-tab>
  <mat-tab label="Quinta-feira">
  </mat-tab>
  <mat-tab label="Sexta-feira">
  </mat-tab>
  <mat-tab label="Sábado">
  </mat-tab>
  <mat-tab label="Domingo">
  </mat-tab>
</mat-tab-group>
<div id="dialog-professional-schedule-add-button">
    <span class="icon-add"></span>
    <div>Adicionar horário</div>
</div>
<mat-table [dataSource]="dataSource" style="height: 150px;">

  <ng-container matColumnDef="start">
    <mat-header-cell *matHeaderCellDef> Início </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.start }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="end">
    <mat-header-cell *matHeaderCellDef> Fim </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.end }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="commands">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element"></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<div class="mrc-dialog-separator"></div>
<div id="dialog-professional-schedule-actions">
  <button mat-button (click)="ok_clicked()">OK</button>
  <button mat-button (click)="cancel_clicked()">Cancelar</button>
</div>