<progress-spinner [progress]="loading">
  <div>
    <div>Nome</div>
    <input (change)="user.name = boxName.value" #boxName/>
  </div>
  <div>
    <div>E-mail</div>
    <input (change)="user.email = boxEmail.value" #boxEmail />
  </div>
  <div>
    <div>Usuário</div>
    <input (change)="user.userName = boxUser.value" #boxUser />
  </div>
  <div>
    <div>Senha</div>
    <input (change)="_pass = boxPwd.value" #boxPwd/>
  </div>
  <div>
    <div>Confirmar Senha</div>
    <input (change)="_confirmPass = boxConfirm.value" #boxConfirm />
  </div>
  <button (click)="create_user()">OK</button>
</progress-spinner>